#nav .drop .main-nav,
.partners-logo,
.filter-heading .filter-block ul,
.filter-heading .grid-list,
.detail-description-tab .tab-content > div > ul,
.rating-block .rating > ul,
.rating-block .rating .star-rate {
	margin: 0;
	padding: 0;
	list-style: none;
}

.clearfix:after,
.widget:after,
.search-form:after,
.post-password-form p:after,
.navigation-single:after,
.partners-logo:after,
.filter-heading .grid-list:after,
.list-grid.list .item:after,
.detail-description-tab .tab-content > div > ul:after,
.comments-slider .slide:after,
.deal-slider .item:after {
	content: "";
	display: block;
	clear: both;
}

.ellipsis {
	white-space: nowrap; /* 1 */
	text-overflow: ellipsis; /* 2 */
	overflow: hidden;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

.comment-form input[type="text"],
.search-form input[type="text"],
.post-password-form input[type="text"],
.comment-form
input[type="tel"],
.search-form
input[type="tel"],
.post-password-form
input[type="tel"],
.comment-form
input[type="email"],
.search-form
input[type="email"],
.post-password-form
input[type="email"],
.comment-form
input[type="search"],
.search-form
input[type="search"],
.post-password-form
input[type="search"],
.comment-form
input[type="password"],
.search-form
input[type="password"],
.post-password-form
input[type="password"],
.comment-form
input[type="url"],
.search-form
input[type="url"],
.post-password-form
input[type="url"],
.comment-form
input[type="date"],
.search-form
input[type="date"],
.post-password-form
input[type="date"],
.comment-form
textarea,
.search-form
textarea,
.post-password-form
textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	border: 1px solid #999;
	padding: .5em .7em;
}

.comment-form input[type="text"]:focus,
.search-form input[type="text"]:focus,
.post-password-form input[type="text"]:focus,
.comment-form
  input[type="tel"]:focus,
.search-form
  input[type="tel"]:focus,
.post-password-form
  input[type="tel"]:focus,
.comment-form
  input[type="email"]:focus,
.search-form
  input[type="email"]:focus,
.post-password-form
  input[type="email"]:focus,
.comment-form
  input[type="search"]:focus,
.search-form
  input[type="search"]:focus,
.post-password-form
  input[type="search"]:focus,
.comment-form
  input[type="password"]:focus,
.search-form
  input[type="password"]:focus,
.post-password-form
  input[type="password"]:focus,
.comment-form
  input[type="url"]:focus,
.search-form
  input[type="url"]:focus,
.post-password-form
  input[type="url"]:focus,
.comment-form
  input[type="date"]:focus,
.search-form
  input[type="date"]:focus,
.post-password-form
  input[type="date"]:focus,
.comment-form
  textarea:focus,
.search-form
  textarea:focus,
.post-password-form
  textarea:focus {
	border-color: #333;
}

.comment-form input[type="text"]::-webkit-input-placeholder,
.search-form input[type="text"]::-webkit-input-placeholder,
.post-password-form input[type="text"]::-webkit-input-placeholder,
.comment-form
  input[type="tel"]::-webkit-input-placeholder,
.search-form
  input[type="tel"]::-webkit-input-placeholder,
.post-password-form
  input[type="tel"]::-webkit-input-placeholder,
.comment-form
  input[type="email"]::-webkit-input-placeholder,
.search-form
  input[type="email"]::-webkit-input-placeholder,
.post-password-form
  input[type="email"]::-webkit-input-placeholder,
.comment-form
  input[type="search"]::-webkit-input-placeholder,
.search-form
  input[type="search"]::-webkit-input-placeholder,
.post-password-form
  input[type="search"]::-webkit-input-placeholder,
.comment-form
  input[type="password"]::-webkit-input-placeholder,
.search-form
  input[type="password"]::-webkit-input-placeholder,
.post-password-form
  input[type="password"]::-webkit-input-placeholder,
.comment-form
  input[type="url"]::-webkit-input-placeholder,
.search-form
  input[type="url"]::-webkit-input-placeholder,
.post-password-form
  input[type="url"]::-webkit-input-placeholder,
.comment-form
  input[type="date"]::-webkit-input-placeholder,
.search-form
  input[type="date"]::-webkit-input-placeholder,
.post-password-form
  input[type="date"]::-webkit-input-placeholder,
.comment-form
  textarea::-webkit-input-placeholder,
.search-form
  textarea::-webkit-input-placeholder,
.post-password-form
  textarea::-webkit-input-placeholder {
	color: #ccc;
}

.comment-form input[type="text"]::-moz-placeholder,
.search-form input[type="text"]::-moz-placeholder,
.post-password-form input[type="text"]::-moz-placeholder,
.comment-form
  input[type="tel"]::-moz-placeholder,
.search-form
  input[type="tel"]::-moz-placeholder,
.post-password-form
  input[type="tel"]::-moz-placeholder,
.comment-form
  input[type="email"]::-moz-placeholder,
.search-form
  input[type="email"]::-moz-placeholder,
.post-password-form
  input[type="email"]::-moz-placeholder,
.comment-form
  input[type="search"]::-moz-placeholder,
.search-form
  input[type="search"]::-moz-placeholder,
.post-password-form
  input[type="search"]::-moz-placeholder,
.comment-form
  input[type="password"]::-moz-placeholder,
.search-form
  input[type="password"]::-moz-placeholder,
.post-password-form
  input[type="password"]::-moz-placeholder,
.comment-form
  input[type="url"]::-moz-placeholder,
.search-form
  input[type="url"]::-moz-placeholder,
.post-password-form
  input[type="url"]::-moz-placeholder,
.comment-form
  input[type="date"]::-moz-placeholder,
.search-form
  input[type="date"]::-moz-placeholder,
.post-password-form
  input[type="date"]::-moz-placeholder,
.comment-form
  textarea::-moz-placeholder,
.search-form
  textarea::-moz-placeholder,
.post-password-form
  textarea::-moz-placeholder {
	opacity: 1;
	color: #ccc;
}

.comment-form input[type="text"]:-moz-placeholder,
.search-form input[type="text"]:-moz-placeholder,
.post-password-form input[type="text"]:-moz-placeholder,
.comment-form
  input[type="tel"]:-moz-placeholder,
.search-form
  input[type="tel"]:-moz-placeholder,
.post-password-form
  input[type="tel"]:-moz-placeholder,
.comment-form
  input[type="email"]:-moz-placeholder,
.search-form
  input[type="email"]:-moz-placeholder,
.post-password-form
  input[type="email"]:-moz-placeholder,
.comment-form
  input[type="search"]:-moz-placeholder,
.search-form
  input[type="search"]:-moz-placeholder,
.post-password-form
  input[type="search"]:-moz-placeholder,
.comment-form
  input[type="password"]:-moz-placeholder,
.search-form
  input[type="password"]:-moz-placeholder,
.post-password-form
  input[type="password"]:-moz-placeholder,
.comment-form
  input[type="url"]:-moz-placeholder,
.search-form
  input[type="url"]:-moz-placeholder,
.post-password-form
  input[type="url"]:-moz-placeholder,
.comment-form
  input[type="date"]:-moz-placeholder,
.search-form
  input[type="date"]:-moz-placeholder,
.post-password-form
  input[type="date"]:-moz-placeholder,
.comment-form
  textarea:-moz-placeholder,
.search-form
  textarea:-moz-placeholder,
.post-password-form
  textarea:-moz-placeholder {
	color: #ccc;
}

.comment-form input[type="text"]:-ms-input-placeholder,
.search-form input[type="text"]:-ms-input-placeholder,
.post-password-form input[type="text"]:-ms-input-placeholder,
.comment-form
  input[type="tel"]:-ms-input-placeholder,
.search-form
  input[type="tel"]:-ms-input-placeholder,
.post-password-form
  input[type="tel"]:-ms-input-placeholder,
.comment-form
  input[type="email"]:-ms-input-placeholder,
.search-form
  input[type="email"]:-ms-input-placeholder,
.post-password-form
  input[type="email"]:-ms-input-placeholder,
.comment-form
  input[type="search"]:-ms-input-placeholder,
.search-form
  input[type="search"]:-ms-input-placeholder,
.post-password-form
  input[type="search"]:-ms-input-placeholder,
.comment-form
  input[type="password"]:-ms-input-placeholder,
.search-form
  input[type="password"]:-ms-input-placeholder,
.post-password-form
  input[type="password"]:-ms-input-placeholder,
.comment-form
  input[type="url"]:-ms-input-placeholder,
.search-form
  input[type="url"]:-ms-input-placeholder,
.post-password-form
  input[type="url"]:-ms-input-placeholder,
.comment-form
  input[type="date"]:-ms-input-placeholder,
.search-form
  input[type="date"]:-ms-input-placeholder,
.post-password-form
  input[type="date"]:-ms-input-placeholder,
.comment-form
  textarea:-ms-input-placeholder,
.search-form
  textarea:-ms-input-placeholder,
.post-password-form
  textarea:-ms-input-placeholder {
	color: #ccc;
}

.comment-form input[type="text"].placeholder,
.search-form input[type="text"].placeholder,
.post-password-form input[type="text"].placeholder,
.comment-form
  input[type="tel"].placeholder,
.search-form
  input[type="tel"].placeholder,
.post-password-form
  input[type="tel"].placeholder,
.comment-form
  input[type="email"].placeholder,
.search-form
  input[type="email"].placeholder,
.post-password-form
  input[type="email"].placeholder,
.comment-form
  input[type="search"].placeholder,
.search-form
  input[type="search"].placeholder,
.post-password-form
  input[type="search"].placeholder,
.comment-form
  input[type="password"].placeholder,
.search-form
  input[type="password"].placeholder,
.post-password-form
  input[type="password"].placeholder,
.comment-form
  input[type="url"].placeholder,
.search-form
  input[type="url"].placeholder,
.post-password-form
  input[type="url"].placeholder,
.comment-form
  input[type="date"].placeholder,
.search-form
  input[type="date"].placeholder,
.post-password-form
  input[type="date"].placeholder,
.comment-form
  textarea.placeholder,
.search-form
  textarea.placeholder,
.post-password-form
  textarea.placeholder {
	color: #ccc;
}

.widget {
	margin-bottom: 1.2em;
}

.widget ul {
	padding-left: 2em;
}

.widget select {
	min-width: 150px;
}

.comment-form label {
	display: block;
	padding-bottom: 4px;
}

.comment-form textarea {
	overflow: auto;
	margin: 0;
	height: 120px;
	min-height: 120px;
}

.comment-form textarea,
.comment-form input[type="text"] {
	margin: 0 4px 0 0;
	width: 300px;
}

.comment-form input[type="submit"] {
	display: block;
	float: none;
}

.post-password-form label {
	display: block;
}

.post-password-form input[type="password"] {
	margin: 0 4px 0 0;
	width: 300px;
}

.search-form input {
	float: left;
	height: 2em;
}

.search-form input[type="search"] {
	margin: 0 4px 0 0;
	width: 150px;
}

.post-password-form input {
	float: left;
	height: 2em;
}

.post-password-form input[type="password"] {
	width: 150px;
}

.comment-form input[type="submit"],
.post-password-form input[type="submit"],
.search-form input[type="submit"] {
	background: #333;
	color: #fff;
	height: 2em;
	border: none;
	padding: 0 .5em;
}

.comment-form input[type="submit"]:hover,
.post-password-form input[type="submit"]:hover,
.search-form input[type="submit"]:hover {
	opacity: .8;
}

.commentlist {
	margin: 0 0 1.2em;
}

.commentlist .edit-link {
	margin: 0;
}

.commentlist .avatar-holder {
	float: left;
	margin: 0 1.2em 4px 0;
}

.commentlist-item .commentlist-item {
	padding: 0;
}

.comment,
.commentlist-holder {
	overflow: hidden;
}

.commentlist-item .commentlist-item,
.commentlist-item + .commentlist-item {
	padding-top: 1.2em;
}

.widget_calendar #next {
	text-align: right;
}

.gallery-item dt {
	float: none;
	padding: 0;
}

.navigation,
.navigation-comments {
	position: relative;
	vertical-align: middle;
	margin-bottom: 1.2em;
}

.navigation .screen-reader-text,
.navigation-comments .screen-reader-text {
	position: absolute;
	left: -99999px;
}

.navigation .page-numbers,
.navigation-comments .page-numbers {
	display: inline-block;
	vertical-align: middle;
	padding: 0 .4em;
}

.navigation .next,
.navigation .prev,
.navigation-comments .next,
.navigation-comments .prev {
	display: inline-block;
	vertical-align: middle;
	max-width: 50%;
	background: #666;
	color: #fff;
	padding: .4em;
	text-decoration: none;
}

.navigation-single {
	margin-bottom: 1.2em;
}

.navigation-single .next,
.navigation-single .prev {
	float: left;
	vertical-align: middle;
	max-width: 50%;
	background: #666;
	color: #fff;
	text-decoration: none;
}

.navigation-single .next a,
.navigation-single .prev a {
	color: inherit;
	text-decoration: none;
	padding: .4em;
	display: block;
}

.navigation-single .next {
	float: right;
}

.wp-caption {
	max-width: 100%;
	clear: both;
	border: 1px solid #ccc;
	padding: .4em;
	margin-bottom: 1.2em;
}

.wp-caption img {
	margin: 0;
	vertical-align: top;
}

.wp-caption p {
	margin: .4em 0 0;
}

div.aligncenter {
	margin: 0 auto 1.2em;
}

img.aligncenter {
	display: block;
	margin: 0 auto;
}

.alignleft {
	float: left;
	margin: 0 1.2em 4px 0;
}

.alignright {
	float: right;
	margin: 0 0 4px 1.2em;
}

.mejs-container {
	margin-bottom: 1.2em;
}

.wp-caption-text,
.gallery,
.alignnone,
.gallery-caption,
.sticky,
.bypostauthor {
	height: auto;
}

body.nav-active {
	overflow: hidden;
}

body.nav-active .overlay {
	position: fixed;
	top: 0;
	right: 250px;
	bottom: 0;
	left: 0;
	background: transparent;
	z-index: 9999;
	overflow: hidden;
	cursor: pointer;
}

.no-js #loader-wrapper {
	display: none;
}

#loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
	z-index: 999;
}

#loader {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #3498db;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	z-index: 1001;
}

#loader:before,
#loader:after {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #e74c3c;
	-webkit-animation: spin 3s linear infinite;
	animation: spin 3s linear infinite;
}

#loader:after {
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border-top-color: #f9c922;
	-webkit-animation: spin 1.5s linear infinite;
	animation: spin 1.5s linear infinite;
}

.loaded #loader {
	opacity: 0;
	-webkit-transition: opacity .3s ease-out;
	transition: opacity .3s ease-out;
}

.loaded #loader-wrapper {
	visibility: hidden;
	-webkit-transition: visibility .3s ease-out;
	transition: visibility .3s ease-out;
}

#header {
	background: #fdb208;
	position: relative;
	z-index: 20;
}

#header .container:after {
	content: "";
	display: block;
	clear: both;
}

#header .top-nav {
	float: right;
	width: 68%;
	padding: 34px 0 30px;
}

#header .top-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	letter-spacing: -4px;
	text-align: center;
}

#header .top-nav li {
	display: inline-block;
	vertical-align: top;
	letter-spacing: 0;
	padding: 0 15px;
}

#header .top-nav li + li {
	border-left: 1px solid #fff;
}

#header .top-nav li a {
	display: block;
	line-height: .7em;
	text-transform: capitalize;
}

.header-top {
	background: #2f2f2f;
	border-bottom: 1px solid #fdca54;
	padding: 5px 0;
}

.header-middle {
	min-height: 130px;
}

.language-form {
	padding-top: 4px;
}

.language-form label {
	font-size: 12px;
	line-height: 14px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px 0 0;
	font-weight: normal;
}

.language-form .select-wrap {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

.language-form .select-wrap:before {
	content: "";
	position: absolute;
	top: 50%;
	right: 5px;
	border-color: #fff transparent transparent;
	border-style: solid;
	border-width: 5px 4px 0;
	height: 0;
	width: 0;
	margin-top: -2px;
}

.language-form select {
	background: none;
	border: none;
	width: 80px;
	color: #fff;
	appearnace: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	padding-right: 20px;
}

.search-form {
	position: relative;
	padding: 0 0 0 15px;
}

.search-form input[type="search"] {
	border: none;
	background: none;
	color: #fff;
	margin: 0;
	width: 100%;
	max-width: 200px;
	padding: 5px 10px;
}

.search-form input[type="search"]::-webkit-input-placeholder {
	color: #fff;
}

.search-form input[type="search"]::-moz-placeholder {
	opacity: 1;
	color: #fff;
}

.search-form input[type="search"]:-moz-placeholder {
	color: #fff;
}

.search-form input[type="search"]:-ms-input-placeholder {
	color: #fff;
}

.search-form input[type="search"].placeholder {
	color: #fff;
}

.search-form input[type="submit"] {
	font-size: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 15px;
	height: 15px;
	z-index: 1;
	background: transparent;
}

.search-form .submit-wrap {
	position: absolute;
	top: 6px;
	left: 3px;
}

.search-form .submit-wrap:before {
	content: "\f002";
	font-size: 15px;
	line-height: 1;
	font-family: "FontAwesome";
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
}

.network-wrap .sign-in {
	float: right;
	background: #fdba21;
	padding: 5px 10px;
	border-radius: 0 0 4px 4px;
	margin: -5px 0 0 20px;
	text-decoration: none;
	-webkit-transition: background .4s ease, color .4s ease;
	transition: background .4s ease, color .4s ease;
}

.network-wrap .sign-in:hover {
	background: #fff;
	color: #fdba21;
}

.social-networks {
	margin: 0;
	padding: 0 10px 0 0;
	list-style: none;
	text-align: right;
}

.social-networks li {
	display: inline-block;
	vertical-align: top;
}

.social-networks li + li {
	margin-left: 6px;
}

.social-networks li a {
	display: block;
	font-size: 0;
	border: 1px solid #fff;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 7px 0;
}

.social-networks li a:hover {
	opacity: .7;
}

.social-networks li a i {
	font-size: 14px;
	line-height: 1;
}

.logo {
	float: left;
	width: 30%;
	max-width: 150px;
	margin-top: -15px;
}

#nav {
	background: #1f1f1f;
	border-top: 1px solid #303030;
}

#nav .opener {
	display: none;
	position: absolute;
	top: 130px;
	right: 0;
	width: 34px;
	height: 20px;
	text-indent: -9999px;
	overflow: hidden;
	margin-right: 15px;
}

#nav .opener:before,
#nav .opener:after,
#nav .opener span {
	background: #fff;
	position: absolute;
	top: 11px;
	left: 0;
	right: 0;
	height: 3px;
	margin-top: -2px; /* height/2 */
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
}

#nav .opener:before,
#nav .opener:after {
	content: "";
	top: 3px;
}

#nav .opener:after {
	top: 19px;
}

#nav .opener:hover {
	opacity: .7;
}

#nav .opener-close {
	bottom: auto;
	top: 10px;
}

#nav .opener-close span {
	opacity: 0;
}

#nav .opener-close:after,
#nav .opener-close:before {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 10px;
	left: 15%;
	right: 15%;
}

#nav .opener-close:after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#nav.active .opener {
	display: none;
	top: 10px;
}

#nav.active .opener.opener-close {
	display: block;
}

#nav.active .drop {
	right: 0;
}

#nav .drop {
	display: inline-block;
	vertical-align: top;
}

#nav .drop .main-nav {
	letter-spacing: -4px;
	text-align: center;
}

#nav .drop .main-nav li {
	display: inline-block;
	vertical-align: top;
	letter-spacing: 0;
	border-right: 1px solid #303030;
}

#nav .drop .main-nav li.current-menu-item a:before {
	background: #fdba21;
}

#nav .drop .main-nav li:last-child {
	border-right: none;
}

#nav .drop .main-nav li + li {
	border-left: 1px solid #000;
}

#nav .drop .main-nav li a {
	display: block;
	text-transform: uppercase;
	padding: 7px 24px;
	position: relative;
}

#nav .drop .main-nav li a:before {
	content: "";
	position: absolute;
	bottom: -2px;
	left: 0;
	right: 0;
	background: transparent;
	height: 2px;
	z-index: 2;
}

#nav .drop .main-nav li a:hover {
	text-decoration: none;
}

#nav .drop .main-nav li a:hover:before {
	background: #fdba21;
}

.footer-top {
	background: #2f2f2f;
	padding: 40px 0 30px;
}

.footer-top .title {
	display: block;
	margin: 0 0 15px;
	text-transform: capitalize;
	color: #fff;
}

.footer-top ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer-top ul li + li a {
	border-top: 1px solid #262626;
}

.footer-top ul li:last-child a {
	border-bottom: none;
}

.footer-top ul li a {
	display: block;
	border-bottom: 1px solid #393939;
	padding: 5px 0;
	color: #ccc;
	text-transform: capitalize;
}

.footer-top .customer-support {
	border-bottom: 1px solid #393939;
	box-shadow: 0 1px 0 #262626;
	margin: 0 0 20px;
	padding: 0 0 20px;
}

.footer-top .tel {
	font-size: 38px;
	line-height: 38px;
	color: #fdba21;
	display: inline-block;
	vertical-align: top;
	margin: 0 0 5px;
}

.footer-top .support {
	display: block;
	text-align: right;
	color: #ccc;
	font-size: 12px;
	line-height: 14px;
}

.footer-top .newsletter-form {
	overflow: hidden;
}

.footer-top .newsletter-form input[type="submit"] {
	float: right;
	background: #fdba21;
	color: #fff;
	height: 38px;
	padding: 10px 15px;
	border: none;
	text-transform: uppercase;
	-webkit-transition: background .5s ease, color .5s ease;
	transition: background .5s ease, color .5s ease;
}

.footer-top .newsletter-form input[type="submit"]:hover {
	background: #e9a302;
}

.footer-top .newsletter-form .form-group {
	overflow: hidden;
}

.footer-top .newsletter-form .form-control {
	border: 1px solid #fdba21;
	height: 38px;
	background: #272727;
	border-radius: 0;
	box-shadow: none;
	color: #ccc;
}

.footer-top .newsletter-form .form-control::-webkit-input-placeholder {
	color: #ccc;
}

.footer-top .newsletter-form .form-control::-moz-placeholder {
	opacity: 1;
	color: #ccc;
}

.footer-top .newsletter-form .form-control:-moz-placeholder {
	color: #ccc;
}

.footer-top .newsletter-form .form-control:-ms-input-placeholder {
	color: #ccc;
}

.footer-top .newsletter-form .form-control.placeholder {
	color: #ccc;
}

.footer-logo {
	margin: 0 0 15px;
	max-width: 150px;
}

.copyright {
	color: #ccc;
}

.copyright a {
	color: #fdba21;
}

.copyright a:hover {
	color: #e9a302;
}

.footer-bottom {
	background: #272727;
	padding: 25px 0;
}

.footer-bottom .back-to-top {
	display: none;
	width: 32px;
	height: 30px;
	background: #fdba21;
	font-size: 0;
	border-radius: 5px;
	margin: 0 auto;
	-webkit-transition: background .5s ease;
	transition: background .5s ease;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 99;
}

.footer-bottom .back-to-top:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	border-style: solid;
	border-width: 2px 2px 0 0;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	color: #fff;
	width: 12px;
	height: 12px;
	margin: -4px 0 0 -6px;
}

.footer-bottom .back-to-top:hover {
	background: #e9a302;
}

.footer-nav {
	margin: 0;
	padding: 10px 0 0;
	list-style: none;
	letter-spacing: -4px;
	text-align: center;
}

.footer-nav li {
	display: inline-block;
	vertical-align: top;
	letter-spacing: 0;
	padding: 0 15px;
}

.footer-nav li + li {
	border-left: 1px solid #fff;
}

.footer-nav li a {
	display: block;
	line-height: .7em;
	text-transform: capitalize;
	color: #ccc;
}

.partners-logo li {
	float: left;
	width: 20%;
	padding: 0 5px;
}

.partners-logo li a {
	display: block;
}

.partners-logo li a:hover {
	opacity: .7;
}

.flight-block {
	padding: 60px 0;
}

.flight-block .item {
	margin-bottom: 40px;
}

.flight-block .item h2 {
	font-size: 24px;
	line-height: 26px;
}

.filter-heading {
	margin-bottom: 30px;
}

.filter-heading .filter-block {
	float: left;
	width: 75%;
}

.filter-heading .filter-block ul {
	display: inline-block;
	vertical-align: top;
}

.filter-heading .filter-block ul li {
	display: inline-block;
	vertical-align: top;
	position: relative;
}

.filter-heading .filter-block ul li + li {
	margin-left: 34px;
}

.filter-heading .filter-block ul li + li:before {
	content: "";
	position: absolute;
	top: 3px;
	left: -17px;
	bottom: 3px;
	width: 1px;
	background: #a2a2a2;
}

.filter-heading .filter-block ul li a {
	display: block;
	text-transform: capitalize;
	color: #a2a2a2;
}

.filter-heading .filter-block ul li a:after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	border-color: #a2a2a2 transparent transparent;
	border-style: solid;
	border-width: 7px 5px 0;
	width: 0;
	height: 0;
	margin-left: 18px;
}

.filter-heading .shot {
	display: inline-block;
	vertical-align: top;
	text-transform: uppercase;
	margin-right: 15px;
}

.filter-heading .selected {
	display: none;
}

.filter-heading .grid-list {
	float: right;
	border-radius: 7px;
	overflow: hidden;
	width: 85px;
}

.filter-heading .grid-list li {
	float: left;
}

.filter-heading .grid-list li:hover a,
.filter-heading .grid-list li.active a {
	color: white;
	background: #fdba21;
}

.filter-heading .grid-list a {
	display: block;
	background: #e9a302;
	padding: 8px 12px;
	font-size: 0;
	color: rgba(255, 255, 255, .5);
	-webkit-transition: background .5s ease, color .5s ease;
	transition: background .5s ease, color .5s ease;
}

.filter-heading .grid-list a .fa {
	font-size: 18px;
}

.list-grid.list .col {
	width: 100%;
}

.list-grid.list .item {
	background: #fff;
	text-align: left;
	display: table;
}

.list-grid.list .img-wrap {
	display: table-cell;
	vertical-align: top;
	width: 25%;
}

.list-grid.list .text {
	display: table-cell;
	vertical-align: top;
	width: 60%;
}

.list-grid.list .txt {
	display: block;
}

.list-grid.list .price {
	display: table-cell;
	vertical-align: top;
	padding: 0 0 50px;
	white-space: nowrap;
	min-height: 86px;
}

.list-grid.list .price:after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	min-height: 86px;
}

.list-grid.list .price .rate {
	padding: 15px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
}

.list-grid.list .price a {
	top: auto;
	right: 0;
	width: 100%;
	display: block;
	height: 52px;
}

.detail-block {
	padding: 60px 0;
}

.detail-thumbs {
	margin-bottom: 60px;
}

.detail-thumbs .slick-slide {
	padding: 0 15px;
}

.detail-thumbs .slick-slide.slick-current .img {
	cursor: default;
}

.detail-thumbs .slick-slide.slick-current .img:before {
	opacity: 0;
}

.detail-thumbs .img {
	cursor: pointer;
	position: relative;
	border-radius: 5px;
	overflow: hidden;
}

.detail-thumbs .img:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
	opacity: .5;
	-webkit-transition: opacity .4s ease;
	transition: opacity .4s ease;
}

.detail-thumbs .img:hover:before {
	opacity: 0;
}

.detail-thumbs .img img {
	max-width: none;
	width: 100%;
}

.detail-thumbs .slick-list {
	background: #fff;
	padding: 20px 60px;
}

.detail-thumbs .slick-prev,
.detail-thumbs .slick-next {
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	bottom: 0;
	background: #fdba21;
	border: none;
	z-index: 1;
	-webkit-transition: background .4s ease;
	transition: background .4s ease;
	font-size: 0;
}

.detail-thumbs .slick-prev:hover,
.detail-thumbs .slick-next:hover {
	background: #e9a302;
}

.detail-thumbs .slick-prev:before,
.detail-thumbs .slick-next:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 24px;
	border-width: 1px 1px 0 0;
	border-style: solid;
	border-color: #fff;
	width: 20px;
	height: 20px;
	-webkit-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	transform: rotate(-135deg);
	margin-top: -10px;
}

.detail-thumbs .slick-next {
	left: auto;
	right: 0;
}

.detail-thumbs .slick-next:before {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	left: 14px;
}

.detail-description-tab .nav-tabs {
	border: none;
}

.detail-description-tab .nav-tabs li {
	margin: 0;
}

.detail-description-tab .nav-tabs li + li {
	margin-left: 10px;
}

.detail-description-tab .nav-tabs li.active a {
	border: none;
	background: #fff;
	margin: 0;
}

.detail-description-tab .nav-tabs li.active a:hover {
	border-bottom: none;
}

.detail-description-tab .nav-tabs li.active .fa {
	opacity: 1;
}

.detail-description-tab .nav-tabs li a {
	background: #fdba21;
	border: none;
	border-radius: 3px 3px 0 0;
	-webkit-transition: background .4s ease, color .4s ease;
	transition: background .4s ease, color .4s ease;
	text-transform: capitalize;
	margin: 0;
}

.detail-description-tab .nav-tabs li a:hover {
	background: #fff;
	color: #272727;
}

.detail-description-tab .nav-tabs li a:hover .fa {
	opacity: 1;
}

.detail-description-tab .nav-tabs li .fa {
	color: #272727;
	opacity: .5;
	margin: 0 5px 0 0;
	-webkit-transition: opacity .4s ease;
	transition: opacity .4s ease;
}

.detail-description-tab .tab-content {
	background: #fff;
	color: #272727;
	padding: 30px;
}

.detail-description-tab .tab-content a {
	color: #272727;
}

.detail-description-tab .tab-content a:focus {
	color: #272727;
}

.detail-description-tab .tab-content strong {
	text-transform: capitalize;
	display: block;
	margin: 0 0 -15px;
}

.detail-description-tab .tab-content p {
	margin-bottom: 30px;
}

.detail-description-tab .tab-content > div > ul {
	padding: 0 0 15px 15px;
}

.detail-description-tab .tab-content > div > ul li {
	float: left;
	width: 25%;
	padding: 0 10px 15px 25px;
	position: relative;
}

.detail-description-tab .tab-content > div > ul li:before {
	content: "";
	position: absolute;
	top: 6px;
	left: 3px;
	width: 0;
	height: 0;
	border-color: transparent transparent transparent #272727;
	border-width: 4px 0 4px 5px;
	border-style: solid;
}

.rating-block {
	float: left;
	width: 45%;
}

.rating-block h3 {
	margin: 0 0 15px;
	color: #272727;
	text-transform: capitalize;
}

.rating-block .rating {
	margin-bottom: 20px;
}

.rating-block .rating > ul > li {
	padding: 15px 0;
}

.rating-block .rating > ul > li + li {
	border-top: 1px dashed #ccc;
}

.rating-block .rating .rate-name {
	display: inline-block;
	vertical-align: middle;
	width: 135px;
	text-transform: capitalize;
}

.rating-block .rating .star-rate {
	display: inline-block;
	vertical-align: middle;
}

.rating-block .rating .star-rate li {
	display: inline-block;
	vertical-align: top;
}

.rating-block .rating .star-rate li + li {
	margin-left: 30px;
}

.rating-block .rating .star-rate li.rated a {
	color: #fdba21;
}

.rating-block .rating .star-rate li a {
	color: #ccc;
}

.rating-block .rating .star-rate li a:hover {
	text-decoration: none;
}

.rating-block .review-result {
	display: inline-block;
	vertical-align: middle;
	font-size: 44px;
	line-height: 48px;
	color: #fdba21;
	margin-right: 15px;
}

.rating-block .review-result i {
	font-style: normal;
}

.rating-block .review-text {
	font-size: 16px;
}

.comments-block {
	float: right;
	width: 45%;
}

.comments-block h3 {
	background: #fdba21;
	text-transform: uppercase;
	padding: 15px;
	margin: 0;
	color: #fff;
}

.comments-slider {
	padding-bottom: 45px;
}

.comments-slider .slide {
	background: #f8f2f2;
}

.comments-slider .slide:nth-child(even) {
	background: #f0f0f0;
}

.comments-slider .img-wrap {
	float: left;
	width: 69px;
	height: 56px;
}

.comments-slider .img-wrap img {
	max-width: none;
	width: 100%;
}

.comments-slider .heading {
	margin-bottom: 5px;
}

.comments-slider .text {
	overflow: hidden;
	padding: 15px 10px;
}

.comments-slider .text p {
	margin: 0;
}

.comments-slider .name {
	text-transform: uppercase;
	color: #fdba21;
	margin-right: 5px;
	display: inline-block;
	vertical-align: bottom;
}

.comments-slider .name a {
	color: #fdba21;
}

.comments-slider .name a:focus {
	color: #fdba21;
}

.comments-slider time {
	font-style: italic;
	font-size: 12px;
	line-height: 16px;
	display: inline-block;
	vertical-align: bottom;
}

.comments-slider .slick-list {
	width: 100%;
	min-height: 485px;
}

.comments-slider .slick-prev,
.comments-slider .slick-next {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 60px;
	height: 45px;
	background: #fdba21;
	border: none;
	font-size: 0;
	-webkit-transition: background .4s ease;
	transition: background .4s ease;
}

.comments-slider .slick-prev:hover,
.comments-slider .slick-next:hover {
	background: #e9a302;
}

.comments-slider .slick-prev:before,
.comments-slider .slick-next:before {
	content: "";
	position: absolute;
	top: 4px;
	left: 19px;
	width: 22px;
	height: 22px;
	border-style: solid;
	border-width: 1px 1px 0 0;
	border-color: #fff;
	-webkit-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	transform: rotate(135deg);
}

.comments-slider .slick-prev {
	right: 61px;
}

.comments-slider .slick-prev:before {
	top: 18px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.hotel-description {
	background: #fff;
	color: #272727;
	text-align: left;
	padding: 15px;
	border-radius: 4px 4px 0 0;
}

.hotel-description .title {
	display: block;
	text-transform: uppercase;
	margin-bottom: 10px;
	font-size: 20px;
	line-height: 22px;
	font-weight: normal;
}

.hotel-description .country {
	display: block;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.hotel-check-form .form-control {
	padding: 6px 8px;
}

.hotel-check-form .check-block,
.hotel-check-form .check-group {
	position: relative;
	padding: 15px 0 0;
	border-top: 1px dashed #ccc;
}

.hotel-check-form .check-block:before,
.hotel-check-form .check-block:after,
.hotel-check-form .check-group:before,
.hotel-check-form .check-group:after {
	content: "";
	position: absolute;
	top: -1px;
	left: 0;
	height: 1px;
	background: #fff;
	width: 10px;
}

.hotel-check-form .check-block:after,
.hotel-check-form .check-group:after {
	left: auto;
	right: 0;
}

.hotel-check-form .room-book {
	padding-top: 15px;
	border-top: 1px dashed #ccc;
}

.hotel-check-form .booking-block {
	padding-top: 20px;
	border-top: 1px dashed #ccc;
	margin-bottom: 20px;
}

.hotel-check-form .total-book {
	text-transform: capitalize;
}

.hotel-check-form .total-price {
	float: right;
	font-size: 38px;
	line-height: 15px;
	color: #fdba21;
}

.hotel-check-form .total-price i {
	font-style: normal;
	font-size: 26px;
	line-height: 28px;
}

.hotel-check-form .btn-info {
	border: none;
	width: 100%;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	padding: 15px 10px;
	margin-bottom: 10px;
}

.hot-deal-block {
	height: 230px;
}

.hot-deal-block .deal-item {
	margin-bottom: 10px;
}

.hot-deal-block .deal-item:last-child {
	margin: 0;
}

.hot-deal-block .img-wrap {
	float: left;
	width: 55px;
	height: 50px;
	border-radius: 5px;
	overflow: hidden;
	margin: 0 10px 0 0;
}

.hot-deal-block .name {
	text-transform: uppercase;
	color: #fdba21;
	display: block;
	padding: 5px 10px;
}

.form-control {
	color: rgba(39, 39, 39, .7);
}

.form-control::-webkit-input-placeholder {
	color: rgba(39, 39, 39, .7);
}

.form-control::-moz-placeholder {
	opacity: 1;
	color: rgba(39, 39, 39, .7);
}

.form-control:-moz-placeholder {
	color: rgba(39, 39, 39, .7);
}

.form-control:-ms-input-placeholder {
	color: rgba(39, 39, 39, .7);
}

.form-control.placeholder {
	color: rgba(39, 39, 39, .7);
}

.form-control:focus {
	box-shadow: none;
	outline: none;
	border-color: #ccc;
}

a {
	color: #fff;
}

a:hover {
	color: #fff;
}

a:focus {
	color: #fff;
	text-decoration: none;
	outline: none;
}

body {
	min-width: 320px;
}

#wrapper {
	width: 100%;
	overflow: hidden;
	position: relative;
}

.slider-block {
	position: relative;
	z-index: 1;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.slider-block .container {
	padding-top: 60px;
	padding-bottom: 60px;
}

.banner-slider {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	overflow: hidden;
}

.banner-slider .item {
	min-height: 512px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.banner-slider .slick-prev,
.banner-slider .slick-next {
	overflow: hidden;
	text-indent: 101%;
	white-space: nowrap;
	position: absolute;
	top: 50%;
	left: 4%;
	border-width: 3px 3px 0 0;
	border-color: #fff;
	border-style: solid;
	width: 20px;
	height: 20px;
	-webkit-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	transform: rotate(-135deg);
	display: block;
	font-size: 0;
	background: none;
	z-index: 1;
}

.banner-slider .slick-next {
	left: auto;
	right: 4%;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.tab-block {
	max-width: 600px;
}

.tab-block .nav-tabs {
	border: none;
}

.tab-block .nav-tabs > li {
	margin-bottom: 0;
}

.tab-block .nav-tabs > li.active > a,
.tab-block .nav-tabs > li.active > a:hover,
.tab-block .nav-tabs > li.active > a:focus {
	border-color: #fdba21;
	background: #fdba21;
	color: #272727;
	border-bottom: 0;
}

.tab-block .nav-tabs > li.active .fa {
	color: #272727;
}

.tab-block .nav-tabs > li + li {
	margin-left: 5px;
}

.tab-block .nav-tabs > li > a {
	background: transparent;
	border-style: solid;
	border-width: 1px 1px 0 1px;
	border-color: #fff;
	margin-right: 0;
	-webkit-transition: background .5s ease, color .5s ease, border-color .5s ease;
	transition: background .5s ease, color .5s ease, border-color .5s ease;
}

.tab-block .nav-tabs > li > a:hover {
	background: #fdba21;
	color: #272727;
	border-color: #fdba21;
}

.tab-block .nav-tabs > li > a:hover .fa {
	color: #272727;
}

.tab-block .nav-tabs .fa {
	margin-right: 7px;
	-webkit-transition: color .5s ease;
	transition: color .5s ease;
}

.tab-block .nav-tabs .fa-fighter-jet {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.tab-block .tab-content {
	background: rgba(0, 0, 0, .2);
	color: #fff;
	padding: 15px 30px;
}

.tab-block .title {
	display: block;
	text-transform: capitalize;
	margin-bottom: 10px;
}

.sub-tab-block .nav-tabs {
	display: inline-block;
	vertical-align: top;
	border: none;
	border-radius: 3px;
	overflow: hidden;
	margin-bottom: 15px;
}

.sub-tab-block .nav-tabs > li {
	margin-bottom: 0;
}

.sub-tab-block .nav-tabs > li.active > a,
.sub-tab-block .nav-tabs > li.active > a:hover,
.sub-tab-block .nav-tabs > li.active > a:focus {
	border-color: #fdba21;
	background: #fff;
	color: #272727;
	border-style: solid;
	border-width: 0 0 5px;
}

.sub-tab-block .nav-tabs > li + li {
	margin-left: 0;
}

.sub-tab-block .nav-tabs > li + li:before {
	content: "";
	width: 1px;
	position: absolute;
	top: 8px;
	left: 0;
	bottom: 10px;
	background: rgba(47, 47, 47, .5);
	z-index: 1;
}

.sub-tab-block .nav-tabs > li > a {
	background: #fff;
	border-width: 0 0 5px 0;
	border-style: solid;
	border-color: #fff;
	color: #272727;
	border-radius: 0;
	text-transform: capitalize;
	width: 120px;
	text-align: center;
	padding: 10px 10px 8px;
	-webkit-transition: background .5s ease, color .5s ease, border-color .5s ease;
	transition: background .5s ease, color .5s ease, border-color .5s ease;
}

.sub-tab-block .nav-tabs > li > a:hover {
	background: #fff;
	border-color: #fdba21;
}

.sub-tab-block .tab-content {
	padding: 0;
	background: transparent;
}

.flight-form input[type="radio"],
.flight-form input[type="checkbox"] {
	margin: 0;
}

.flight-form .trip-wrap .form-group {
	float: left;
}

.flight-form .trip-wrap .form-group + .form-group {
	margin-left: 15px;
}

.flight-form .trip-wrap label {
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	text-transform: capitalize;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
	font-size: 13px;
}

.flight-form .trip-wrap label:before {
	content: "";
	width: 16px;
	height: 16px;
	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: 1px;
	border-radius: 8px;
	background: #fff;
}

.flight-form .trip-wrap input[type=radio] {
	display: none;
}

.flight-form .trip-wrap input[type=radio]:checked + label:before {
	content: "\2022";
	color: #fdba21;
	font-size: 28px;
	text-align: center;
	line-height: 15px;
	background-color: transparent;
	border: 1px solid #fff;
	letter-spacing: -.8px;
}

.flight-form .row {
	margin: 0 -10px;
}

.flight-form .col {
	padding: 0 10px;
}

.flight-form .form-control {
	height: 30px;
	padding: 5px 10px;
	box-shadow: inset 0 6px 9px -10px rgba(39, 39, 39, .7), 0 -1px 3px -3px rgba(39, 39, 39, .7) inset, 1px 0 3px -3px rgba(39, 39, 39, .7) inset, -1px 0 3px -3px rgba(39, 39, 39, .7) inset;
	border-radius: 3px;
	border: none;
}

.flight-form label {
	text-transform: capitalize;
	position: relative;
}

.flight-form label span {
	color: #f00;
	position: absolute;
	top: 3px;
	right: -9px;
	font-size: 14px;
	line-height: 1;
}

.flight-form .btn {
	display: block;
	text-transform: uppercase;
	width: 100%;
}

.offer-block {
	background: #2f2f2f;
	padding: 40px 0 60px;
}

.offer-block .head-block {
	text-align: center;
	text-transform: uppercase;
	position: relative;
	z-index: 1;
	margin: 0 0 40px;
	overflow: hidden;
}

.offer-block .head-block:before,
.offer-block .head-block:after {
	content: "";
	position: absolute;
	top: 40%;
	left: 0;
	right: 0;
	border: 1px dashed #ccc;
	z-index: -1;
}

.offer-block .head-block:after {
	left: -3px;
	top: 48%;
}

.offer-block h1 {
	color: #fff;
	background: #2f2f2f;
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: 0 15px;
}

.offer-block h1 span {
	color: #fdba21;
}

.offer-slider .container {
	position: relative;
}

.offer-slider .item {
	margin-right: 30px;
}

.offer-slider .slick-list {
	margin-right: -30px;
}

.offer-slider .slick-list:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 30px;
	z-index: 1;
	background: #2f2f2f;
}

.offer-slider .slick-prev,
.offer-slider .slick-next {
	position: absolute;
	top: 50%;
	left: -40px;
	width: 28px;
	height: 28px;
	border: 2px solid #fff;
	border-radius: 50%;
	margin: -14px 0 0;
	font-size: 0;
	background: none;
	-webkit-transition: border-color .5s ease;
	transition: border-color .5s ease;
}

.offer-slider .slick-prev:before,
.offer-slider .slick-next:before {
	content: "";
	position: absolute;
	top: 9px;
	left: 8px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 3px 6px 3px 0;
	border-color: transparent #fff transparent transparent;
	-webkit-transition: border-color .5s ease;
	transition: border-color .5s ease;
}

.offer-slider .slick-prev:hover,
.offer-slider .slick-next:hover {
	border-color: #fdba21;
}

.offer-slider .slick-prev:hover:before,
.offer-slider .slick-next:hover:before {
	border-color: transparent #fdba21 transparent transparent;
}

.offer-slider .slick-next {
	left: auto;
	right: -40px;
}

.offer-slider .slick-next:before {
	left: auto;
	right: 8px;
	border-width: 3px 0 3px 6px;
	border-color: transparent transparent transparent #fff;
}

.offer-slider .slick-next:hover:before {
	border-color: transparent transparent transparent #fdba21;
}

.item {
	border-radius: 5px;
	overflow: hidden;
	text-align: center;
}

.item h3 {
	margin: 0 0 10px;
	text-transform: uppercase;
	color: #fdba21;
}

.item .text {
	padding: 10px 20px;
	background: #fff;
	color: #272727;
}

.item .txt {
	display: none;
}

.item .country {
	display: block;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 10px;
}

.item .item {
	background: #fff;
	color: #272727;
	border-radius: 5px;
	overflow: hidden;
}

.item .img-wrap {
	position: relative;
}

.item .img-wrap img {
	max-width: none;
	width: 100%;
}

.item .img-wrap .like {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 82px;
	height: 82px;
	background: rgba(255, 255, 255, .8);
	margin: -41px 0 0 -41px;
	border-radius: 50%;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity .5s ease, visibility .5s ease;
	transition: opacity .5s ease, visibility .5s ease;
}

.item .img-wrap .like:before {
	content: "\f004";
	position: absolute;
	top: 50%;
	left: 50%;
	font: 32px/1 "FontAwesome";
	color: #fdba21;
	margin: -15px 0 0 -16px;
}

.item .img-wrap a:hover .like {
	opacity: 1;
	visibility: visible;
}

.item .price {
	background: #fdba21;
	padding: 8px 70px 8px 10px;
	position: relative;
	text-align: center;
}

.item .price .rate {
	font-size: 30px;
	line-height: 32px;
	color: #fff;
}

.item .price a {
	background: #e9a302;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 70px;
	font-size: 0;
	-webkit-transition: background .5s ease;
	transition: background .5s ease;
}

.item .price a:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 15px;
	height: 15px;
	border-style: solid;
	border-color: #fff;
	border-width: 2px 2px 0 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	margin: -8px 0 0 -8px;
}

.item .price a:hover {
	background: #fdba21;
}

.media-block {
	padding: 60px 0;
	background: #2f2f2f;
}

.media-block .video-wrap iframe {
	width: 100%;
	height: 302px;
}

.deal-block h3 {
	background: #fdba21;
	padding: 15px;
	margin: 0;
	text-transform: uppercase;
}

.deal-slider .item {
	border-radius: 0;
	background: #fff;
}

.deal-slider .item:nth-child(even) {
	background: #f0f0f0;
}

.deal-slider .img-hold {
	float: left;
	width: 56px;
	height: 59px;
}

.deal-slider .text-block {
	overflow: hidden;
	padding: 7px 10px;
	color: #272727;
}

.deal-slider .title-wrap {
	text-align: left;
	float: left;
	width: 60%;
}

.deal-slider .title-wrap strong {
	display: block;
}

.deal-slider .price-wrap {
	float: right;
	width: 40%;
}

.deal-slider .price-wrap .price {
	background: none;
	color: #fdba21;
	font-size: 20px;
	line-height: 23px;
	padding: 0;
	display: block;
}

.deal-slider .slick-prev,
.deal-slider .slick-next {
	position: absolute;
	bottom: -45px;
	right: 0;
	width: 60px;
	height: 45px;
	background: #fdba21;
	border: none;
	font-size: 0;
	-webkit-transition: background .4s ease;
	transition: background .4s ease;
}

.deal-slider .slick-prev:hover,
.deal-slider .slick-next:hover {
	background: #e9a302;
}

.deal-slider .slick-prev:before,
.deal-slider .slick-next:before {
	content: "";
	position: absolute;
	top: 4px;
	left: 19px;
	width: 22px;
	height: 22px;
	border-style: solid;
	border-width: 1px 1px 0 0;
	border-color: #fff;
	-webkit-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	transform: rotate(135deg);
}

.deal-slider .slick-prev {
	right: 61px;
}

.deal-slider .slick-prev:before {
	top: 18px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.tour-slider .title-block {
	background: #fdba21;
	padding: 12px 40px;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	position: relative;
}

.tour-slider .title-block p {
	margin: 0;
}

.tour-slider .item {
	border-radius: 0;
}

.tour-slider .slick-list {
	border-radius: 5px;
	z-index: 1;
}

.tour-slider .slick-list:before,
.tour-slider .slick-list:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	background: #fdba21;
	z-index: 1;
	width: 40px;
	height: 44px;
}

.tour-slider .slick-list:after {
	left: auto;
	right: 0;
}

.tour-slider .slick-next,
.tour-slider .slick-prev {
	font-size: 0;
	position: absolute;
	bottom: 4%;
	left: 12px;
	width: 18px;
	height: 18px;
	background: rgba(0, 0, 0, .5);
	-webkit-transition: background .5s ease;
	transition: background .5s ease;
	border: none;
	z-index: 2;
	-webkit-appearnce: none;
}

.tour-slider .slick-next:before,
.tour-slider .slick-prev:before {
	content: "";
	position: absolute;
	top: 6px;
	left: 7px;
	width: 5px;
	height: 5px;
	border-style: solid;
	border-width: 1px 1px 0 0;
	border-color: #fff;
	-webkit-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	transform: rotate(-135deg);
	-webkit-transition: border-color .5s ease;
	transition: border-color .5s ease;
}

.tour-slider .slick-next:hover,
.tour-slider .slick-prev:hover {
	background: #fff;
}

.tour-slider .slick-next:hover:before,
.tour-slider .slick-prev:hover:before {
	border-color: #fdba21;
}

.tour-slider .slick-next {
	left: auto;
	right: 12px;
}

.tour-slider .slick-next:before {
	left: 6px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.testimonial-block {
	padding: 60px 0;
}

.testimonial-block .quote {
	max-width: 50px;
	margin: 0 auto;
	display: block;
	font-size: 80px;
	line-height: 1;
	text-align: center;
}

.testimonial-slider {
	max-width: 770px;
	margin: 0 auto;
}

.testimonial-slider .item {
	text-align: center;
}

.testimonial-slider .item p {
	margin-bottom: 20px;
}

.testimonial-slider .personal-block {
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
}

.testimonial-slider .personal-block .name,
.testimonial-slider .personal-block .post {
	font-size: 18px;
	line-height: 20px;
	display: block;
	text-transform: capitalize;
	margin-bottom: 5px;
}

.testimonial-slider .personal-block .post {
	font-size: 16px;
	line-height: 18px;
	color: #ccc;
}

.testimonial-slider .img-wrap {
	width: 109px;
	height: 109px;
	border-radius: 50%;
	border: 2px solid #eee;
	overflow: hidden;
	margin: 0 auto 15px;
}

.testimonial-slider .img-wrap img {
	width: 100%;
	max-width: none;
	height: auto;
}

.testimonial-slider .slick-prev,
.testimonial-slider .slick-next {
	font-size: 0;
	position: absolute;
	top: -69px;
	left: 45%;
	width: 20px;
	height: 20px;
	border-width: 2px 2px 0 0;
	border-style: solid;
	border-color: #fff;
	-webkit-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	transform: rotate(-135deg);
	background: transparent;
	-webkit-transition: border-color .4s ease;
	transition: border-color .4s ease;
}

.testimonial-slider .slick-prev:hover,
.testimonial-slider .slick-next:hover {
	border-color: #fdba21;
}

.testimonial-slider .slick-next {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	left: auto;
	right: 45%;
}

.breadcrumb-block {
	background: #2f2f2f;
}

.breadcrumb {
	margin: 0;
	background: none;
	border-radius: 0;
}

.breadcrumb li + li:before {
	content: "";
	border-color: transparent transparent transparent #fff;
	border-width: 3px 0 3px 6px;
	border-style: solid;
	width: 0;
	height: 0;
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 5px;
	padding-left: 3px;
}

#sidebar {
	padding-right: 30px;
	color: #272727;
}

#sidebar a {
	color: #272727;
}

#sidebar a:focus {
	color: #272727;
}

#sidebar a.tel {
	color: #fdba21;
	display: inline-block;
	vertical-align: top;
	font-size: 24px;
	line-height: 26px;
	padding: 0 0 0 25px;
	position: relative;
	margin-bottom: 10px;
}

#sidebar a.tel:before {
	content: "\f095";
	position: absolute;
	top: 0;
	left: 0;
	font-family: "FontAwesome";
	color: #fdba21;
	-webkit-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	transform: rotate(20deg);
}

#sidebar a.tel:focus {
	color: #fdba21;
}

#sidebar p {
	margin-bottom: 20px;
}

#sidebar .list-block {
	background: #fff;
}

#sidebar .list-block + .list-block {
	padding-top: 5px;
}

#sidebar .list-block:first-child {
	border-radius: 4px 0 0 0;
}

#sidebar .list-block:first-child .title {
	border-radius: 4px 0 0 0;
}

#sidebar .list-block:last-child {
	border-radius: 0 0 4px 4px;
}

#sidebar .list-block:last-child .title {
	border-radius: 0 0 0 4px;
}

#sidebar .list-block .title {
	font-weight: normal;
	background: #f5f5f5;
	display: block;
	text-transform: uppercase;
	color: #272727;
	padding: 10px 15px;
	cursor: pointer;
	position: relative;
}

#sidebar .list-block .title:before,
#sidebar .list-block .title:after {
	content: "";
	position: absolute;
	top: 0;
	right: -41px;
}

#sidebar .list-block .title:before {
	background: #fdba21;
	width: 41px;
	bottom: 0;
	border-radius: 0 3px 3px 0;
}

#sidebar .list-block .title:after {
	border-color: #fff transparent transparent;
	border-width: 7px 5px 0;
	border-style: solid;
	width: 0;
	height: 0;
	top: 50%;
	right: -25px;
	margin: -4px 0 0;
}

#sidebar .list-wrap {
	padding: 15px 18px;
	display: none;
}

#sidebar .list-wrap ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar .list-wrap ul li {
	margin-bottom: 10px;
}

#sidebar .list-wrap ul a {
	color: #272727;
	text-transform: capitalize;
}

#sidebar .list-wrap .list-notify {
	color: #fdba21;
	display: inline-block;
	vertical-align: top;
	margin-left: 15px;
}

#sidebar label {
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	text-transform: capitalize;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
	font-size: 13px;
	color: #272727;
}

#sidebar label:before {
	content: "";
	width: 16px;
	height: 16px;
	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: 1px;
	border-radius: 50%;
	border: 2px solid #fdba21;
}

#sidebar input[type=checkbox] {
	display: none;
}

#sidebar input[type=checkbox]:checked + label:before {
	border-color: #fdba21;
	border-style: solid;
	border-width: 2px 2px 0 0;
	-webkit-transform: rotate(135deg) skewX(-3deg);
	-ms-transform: rotate(135deg) skewX(-3deg);
	transform: rotate(135deg) skewX(-3deg);
	width: 18px;
	height: 10px;
	bottom: 7px;
	border-radius: 0;
}

#sidebar .select-wrap {
	position: relative;
	z-index: 11;
}

#sidebar .select-wrap:before,
#sidebar .select-wrap:after {
	content: "";
	position: absolute;
	top: 50%;
	right: 10px;
	z-index: -1;
}

#sidebar .select-wrap:before {
	border-color: transparent transparent #fdba21 transparent;
	border-width: 0 5px 7px;
	border-style: solid;
	width: 0;
	height: 0;
	margin: -10px 0 0;
}

#sidebar .select-wrap:after {
	border-color: #fdba21 transparent transparent;
	border-width: 7px 5px 0;
	border-style: solid;
	width: 0;
	height: 0;
}

#sidebar select {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	height: 36px;
	border-radius: 5px;
	border: 1px solid #ececec;
	padding: 5px 30px 5px 10px;
	color: #272727;
	width: 100%;
	background: transparent;
	cursor: pointer;
}

#sidebar select option {
	display: block;
	color: #272727;
	margin: 0 0 5px;
}

#sidebar select option:hover {
	background: #fdba21;
}

#sidebar .hotel-form,
#sidebar .room-form {
	height: 140px;
}

#sidebar .row {
	margin: 0 -10px;
}

#sidebar .col {
	padding: 0 10px;
}

#sidebar .clear-label label {
	color: #272727;
	padding: 0 0 0 3px !important;
	margin: 0 !important;
}

#sidebar .clear-label label span {
	color: #f00;
	position: absolute;
	top: 0;
	right: -7px;
}

#sidebar .clear-label label:before {
	display: none;
}

#sidebar .label-price input[type="checkbox"]:checked + label:before {
	bottom: 10px;
}

#sidebar .label-price label {
	display: block;
	margin: 0;
	overflow: hidden;
	padding-top: 2px;
}

#sidebar .label-price label:before {
	bottom: 5px;
}

#sidebar .label-price label .price {
	float: right;
	color: #fdba21;
	font-size: 25px;
	font-weight: normal;
	line-height: 20px;
}

#sidebar .label-price label .price i {
	font-size: 18px;
	line-height: 20px;
	font-style: normal;
}

.jcf-scrollable {
	width: 100% !important;
}

.jcf-scrollbar-vertical {
	width: 6px;
	top: 10px;
	bottom: 10px;
	background: transparent;
}

.jcf-scrollbar-vertical .jcf-scrollbar-dec,
.jcf-scrollbar-vertical .jcf-scrollbar-inc {
	display: none;
}

.jcf-scrollbar-slider {
	background-color: #e3e3e3;
}

.jcf-scrollbar-vertical .jcf-scrollbar-handle {
	width: 6px;
	background: #fdba21;
}

#sign-in h1 {
	margin: 0 0 20px;
	color: #272727;
}

#sign-in .modal-dialog {
	width: 100%;
	padding: 0 15px;
	max-width: 355px;
}

#sign-in .close {
	position: absolute;
	top: 5px;
	right: 10px;
	border: none;
	background: none;
	color: #272727;
	font-size: 26px;
	padding: 0;
	-webkit-transition: color .4s ease;
	transition: color .4s ease;
}

#sign-in .close:hover {
	color: #fdba21;
}

#sign-in .modal-content {
	max-width: 325px;
	border-radius: 0;
	box-shadow: none;
	margin: 0 auto;
	border: 3px solid #fdba21;
	padding: 30px 15px;
}

#sign-in .btn-info {
	width: 230px;
	margin: 0 auto;
	text-align: center;
	font-size: 18px;
	line-height: 20px;
	padding: 15px 10px;
	display: block;
	text-transform: uppercase;
}

#sign-in .form-group {
	text-align: center;
}

#sign-in label {
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	text-transform: capitalize;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
	font-size: 13px;
	color: #272727;
}

#sign-in label:before {
	content: "";
	width: 16px;
	height: 16px;
	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: 1px;
	border-radius: 50%;
	border: 2px solid #fdba21;
}

#sign-in input[type=checkbox] {
	display: none;
}

#sign-in input[type=checkbox]:checked + label:before {
	border-color: #fdba21;
	border-style: solid;
	border-width: 2px 2px 0 0;
	-webkit-transform: rotate(135deg) skewX(-3deg);
	-ms-transform: rotate(135deg) skewX(-3deg);
	transform: rotate(135deg) skewX(-3deg);
	width: 18px;
	height: 10px;
	bottom: 7px;
	border-radius: 0;
}

@media (min-width: 768px) {
	.commentlist-item .commentlist-item {
		padding: 0 0 0 2em;
	}
}

@media (max-width: 1299px) {
	#nav .drop .main-nav li a {
		padding: 7px 17px;
	}

	.footer-top .tel {
		font-size: 32px;
		line-height: 34px;
	}

	.footer-nav li {
		padding: 0 12px;
	}

	.rating-block {
		width: 50%;
	}

	.rating-block .rating .star-rate li + li {
		margin-left: 25px;
	}

	.rating-block .review-text {
		font-size: 14px;
	}

	#sidebar {
		padding-right: 20px;
	}

	#sidebar a.tel {
		font-size: 20px;
		line-height: 22px;
		padding-left: 16px;
	}

	#sidebar .row {
		margin: 0 -5px;
	}

	#sidebar .col {
		padding: 0 5px;
	}

	#sidebar .form-control {
		padding: 6px 5px;
		font-size: 12px;
		line-height: 14px;
	}
}

@media (max-width: 1023px) {
	.logo {
		margin-top: 6px;
	}

	#nav {
		background: none;
		border: none;
		position: absolute;
		top: 0;
		right: 0;
	}

	#nav .opener {
		display: block;
	}

	#nav .drop {
		display: block;
		position: fixed;
		top: 0;
		z-index: 999;
		-webkit-transition: right .25s linear;
		transition: right .25s linear;
		width: 300px;
		right: -300px;
		bottom: 0;
		background: rgba(0, 0, 0, .9);
		overflow: auto;
	}

	#nav .drop .drop-wrap {
		padding: 40px 15px 10px;
	}

	#nav .drop .main-nav li {
		border: none;
		display: block;
		margin-bottom: 10px;
	}

	#nav .drop .main-nav li + li {
		border: none;
	}

	.footer-top .tel {
		font-size: 23px;
		line-height: 25px;
	}

	.footer-bottom {
		padding: 25px 0 15px;
	}

	.partners-logo li {
		width: 33.33%;
		padding: 0 5px 5px;
	}

	.filter-heading .filter-block ul li + li {
		margin-left: 28px;
	}

	.filter-heading .filter-block ul li a:after {
		margin-left: 10px;
	}

	.filter-heading .shot {
		display: block;
		margin: 0 0 5px;
	}

	.detail-block {
		padding: 25px 0;
	}

	.detail-thumbs .slick-slide {
		padding: 0 10px;
	}

	.detail-thumbs .slick-list {
		padding: 15px 40px;
	}

	.detail-thumbs .slick-prev,
	.detail-thumbs .slick-next {
		width: 40px;
	}

	.detail-thumbs .slick-prev:before,
	.detail-thumbs .slick-next:before {
		left: 16px;
	}

	.detail-thumbs .slick-next:before {
		left: 5px;
	}

	.detail-description-tab .tab-content > div > ul {
		letter-spacing: -4px;
	}

	.detail-description-tab .tab-content > div > ul li {
		float: none;
		display: inline-block;
		vertical-align: top;
		width: 33.33%;
		letter-spacing: 0;
		padding-left: 20px;
	}

	.rating-block {
		width: 100%;
		margin-bottom: 25px;
	}

	.rating-block h3 {
		text-align: center;
		margin: 0;
	}

	.rating-block .rating {
		max-width: 340px;
		margin: 0 auto 15px;
	}

	.rating-block .review-result {
		display: block;
		text-align: center;
	}

	.rating-block .review-text {
		display: block;
		text-align: center;
	}

	.comments-block {
		width: 100%;
	}

	.hotel-check-form .total-book {
		display: inline-block;
		vertical-align: middle;
		padding-top: 5px;
	}

	.hotel-check-form .total-price {
		font-size: 28px;
		line-height: 30px;
	}

	.hotel-check-form .total-price i {
		font-style: 16px;
		line-height: 18px;
	}

	#sidebar .clear-label label {
		font-size: 12px !important;
	}

	#sidebar .label-price label {
		padding-left: 22px;
	}

	#sidebar .label-price label:before {
		bottom: 4px;
	}

	#sidebar .label-price label .price {
		font-size: 22px;
		line-height: 20px;
	}
}

@media (max-width: 767px) {
	.navigation .page-numbers,
	.navigation-comments .page-numbers {
		padding: 0;
	}

	.navigation .next,
	.navigation .prev,
	.navigation-comments .next,
	.navigation-comments .prev {
		padding: .2em;
	}

	.navigation-single .next a,
	.navigation-single .prev a {
		padding: .2em;
	}

	#header .top-nav {
		display: none;
	}

	.header-top .container {
		padding: 0;
	}

	.header-top .row {
		display: table;
		table-layout: fixed;
		width: 100%;
		margin: 0;
	}

	.header-top .social-mobile {
		float: none;
		display: table-header-group;
	}

	.header-middle {
		min-height: 85px;
	}

	.language-form {
		padding-top: 0;
		margin-bottom: 5px;
		text-align: center;
	}

	.network-wrap {
		padding: 0 15px 10px;
	}

	.logo {
		max-width: 87px;
	}

	#nav .opener {
		top: 133px;
	}

	#nav .drop {
		width: 250px;
		right: -250px;
	}

	.footer-top {
		text-align: center;
		padding: 25px 0;
	}

	.footer-top .title {
		margin-bottom: 10px;
	}

	.footer-top .newsletter-form .form-group {
		margin: 0;
	}

	.footer-top .comp-info {
		padding: 25px 0;
	}

	.footer-top .customer-care {
		margin-bottom: 25px;
	}

	.footer-logo {
		margin: 0 auto 15px;
	}

	.copyright {
		text-align: center;
	}

	.footer-nav {
		padding: 10px 0 5px;
	}

	.partners-logo li {
		width: 20%;
	}

	.support-block {
		text-align: center;
	}

	.flight-block {
		padding: 25px 0;
	}

	.flight-block .item {
		margin-bottom: 25px;
	}

	.filter-heading {
		margin-bottom: 15px;
	}

	.filter-heading .filter-block {
		float: none;
		width: 100%;
		position: relative;
	}

	.filter-heading .filter-block ul {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background: #1f1f1f;
		z-index: 99;
		padding: 15px 15px 0;
	}

	.filter-heading .filter-block ul li {
		width: 100%;
		display: block;
		margin: 0 0 15px;
	}

	.filter-heading .filter-block ul li + li {
		margin-left: 0;
	}

	.filter-heading .filter-block ul li + li:before {
		display: none;
	}

	.filter-heading .selected {
		display: block;
		cursor: pointer;
		text-transform: capitalize;
		position: relative;
		background: #fff;
		color: #272727;
		padding: 5px 35px 5px 15px;
		border-radius: 3px;
	}

	.filter-heading .selected:before {
		content: "";
		position: absolute;
		top: 50%;
		right: 10px;
		border-width: 1px 1px 0 0;
		border-style: solid;
		border-color: #272727;
		-webkit-transform: rotate(135deg);
		-ms-transform: rotate(135deg);
		transform: rotate(135deg);
		width: 12px;
		height: 12px;
		margin-top: -10px;
	}

	.filter-heading .grid-list {
		display: none;
	}

	.list-grid .col:last-child .item {
		margin-bottom: 0;
	}

	.detail-thumbs {
		margin-bottom: 25px;
	}

	.detail-description-tab .nav-tabs li + li {
		margin-left: 2px;
	}

	.detail-description-tab .nav-tabs li a {
		font-size: 12px;
		padding: 20px 9px 5px;
	}

	.detail-description-tab .nav-tabs li .fa {
		position: absolute;
		top: 5px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	.detail-description-tab .tab-content {
		padding: 15px;
	}

	.detail-description-tab .tab-content strong {
		margin-bottom: -5px;
	}

	.detail-description-tab .tab-content p {
		margin-bottom: 15px;
	}

	.detail-description-tab .tab-content > div > ul {
		padding-left: 10px;
	}

	.detail-description-tab .tab-content > div > ul li {
		width: 50%;
		padding-left: 15px;
	}

	.rating-block .rating {
		max-width: 300px;
		margin-bottom: 10px;
	}

	.rating-block .rating .rate-name {
		width: 115px;
	}

	.rating-block .rating .star-rate li + li {
		margin-left: 13px;
	}

	.comments-slider .slick-prev,
	.comments-slider .slick-next {
		width: 40px;
		height: 35px;
	}

	.comments-slider .slick-prev:before,
	.comments-slider .slick-next:before {
		width: 16px;
		height: 16px;
		left: 13px;
	}

	.comments-slider .slick-prev {
		right: 41px;
	}

	.comments-slider .slick-prev:before {
		top: 14px;
	}

	.banner-slider .slick-prev,
	.banner-slider .slick-next {
		display: none;
	}

	.tab-block .nav-tabs > li + li {
		margin-left: 2px;
	}

	.tab-block .nav-tabs > li > a {
		padding: 22px 9px 4px;
	}

	.tab-block .nav-tabs .fa {
		position: absolute;
		top: 5px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
		margin: 0;
	}

	.tab-block .nav-tabs .fa-fighter-jet {
		top: 1px;
		-webkit-transform: rotate(-45deg) translateX(-50%);
		-ms-transform: rotate(-45deg) translateX(-50%);
		transform: rotate(-45deg) translateX(-50%);
	}

	.tab-block .tab-content {
		padding: 15px 10px;
	}

	.flight-form .trip-wrap input[type=radio]:checked + label:before {
		letter-spacing: 0;
	}

	.flight-form .row {
		margin: 0 -5px;
	}

	.flight-form .col {
		padding: 0 5px;
	}

	.offer-block {
		padding: 25px 0;
	}

	.offer-block .head-block {
		margin-bottom: 25px;
	}

	.offer-block h1 {
		font-size: 28px;
		line-height: 32px;
	}

	.offer-slider .slick-prev,
	.offer-slider .slick-next {
		display: none !important;
	}

	.media-block {
		padding: 25px 0;
	}

	.deal-block {
		margin-bottom: 50px;
	}

	.deal-slider .slick-prev,
	.deal-slider .slick-next {
		width: 40px;
		height: 35px;
		bottom: -35px;
	}

	.deal-slider .slick-prev:before,
	.deal-slider .slick-next:before {
		width: 16px;
		height: 16px;
		left: 13px;
	}

	.deal-slider .slick-prev {
		right: 41px;
	}

	.deal-slider .slick-prev:before {
		top: 14px;
	}

	.tour-slider {
		max-width: 290px;
		margin: 0 auto;
	}

	.tour-slider .slick-next,
	.tour-slider .slick-prev {
		bottom: 3.3%;
	}

	.testimonial-block {
		padding: 25px 0;
	}

	.testimonial-slider .slick-prev,
	.testimonial-slider .slick-next {
		left: 40%;
	}

	.testimonial-slider .slick-next {
		left: auto;
		right: 40%;
	}

	#sidebar {
		padding-right: 40px;
		margin-bottom: 25px;
	}

	#sign-in .modal-dialog {
		margin: 30px auto;
	}

	#sign-in .modal-content {
		min-width: 290px;
	}
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
