// custom variables and override bootstrap variables


$black:#000;
$white:#fff;
$yellow:#fdba21;
$gray: #272727;
$gray1: #1c1c1c;
$gray2: #1f1f1f;
$gray3: #2f2f2f;
$gray4: #f5f5f5;
$blue: #007db8;

$body-bg:$gray;
$text-color:$white;
$link-color:$yellow;

// grid
$grid-gutter-width: 30px;
// $grid-float-breakpoint : 768px;
$container-tablet: (738px + $grid-gutter-width);
$screen-md:1024px;  //always 980px or where to make breakpoint
$container-desktop:            (994px + $grid-gutter-width);

$container-md:                 $container-desktop;
$container-large-desktop:      (1170px + $grid-gutter-width);