// devices viewport width starts at:
$breakpoints: (
  xs-phone: 320px,
  phone: 480px,
  tablet: 768px,
  desktop: 1024px,
  widescreen: 1300px
  );

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
  );

// ligatured operators ≥ ≤

@import 'vendors/include-media';

@import "bootstrap-custom";
@import "vendors/bootstrap/variables";
@import "vendors/bootstrap/mixins";

@import 'base/mixins';
@import 'base/helpers';
@import "base/wp-reset";

@import "components/header";
@import "components/footer";
@import "pages/flight";
@import "pages/detail";

.form-control{
  @include placeholder() {
    color:rgba($gray,0.7);
  }
  color:rgba($gray,0.7);
  &:focus{
    box-shadow: none;
    outline:none;
    border-color:#ccc;
  }
}

a{
  color:$white;
  &:hover{
    color:$white;
  }
  &:focus{
    color:$white;
    text-decoration: none;
    outline:none;
  }
}

body{
  min-width: 320px;
}

#wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider-block{
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  .container{
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.banner-slider{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
  .item{
    min-height:512px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .slick-prev,
  .slick-next{
    @include hide-text;
    position: absolute;
    top: 50%;
    left: 4%;
    border-width: 3px 3px 0 0;
    border-color: $white;
    border-style: solid;
    width: 20px;
    height: 20px;
    transform:rotate(-135deg);
    display: block;
    font-size: 0;
    background:none;
    z-index: 1;

    @include media('<tablet') {
      display: none;
    }

  }

  .slick-next{
    left: auto;
    right: 4%;
    transform:rotate(45deg);
  }
}

.tab-block{
  max-width: 600px;
  .nav-tabs{
    border:none;
    >li{
      margin-bottom: 0;
      &.active{
        >a,>a:hover,>a:focus{
          border-color: $yellow;
          background:$yellow;
          color:$gray;
          border-bottom: 0;
        }
        .fa{
          color:rgba($gray,1);
        }
      }
      &+li{
        margin-left: 5px;
        @include media('<tablet') {
          margin-left: 2px;
        }
      }
      >a{
        background:transparent;
        border-style:solid;
        border-width: 1px 1px 0 1px;
        border-color: $white;
        margin-right: 0;
        transition:background 0.5s ease, color 0.5s ease, border-color 0.5s ease;
        @include media('<tablet') {
          padding: 22px 9px 4px;
        }
        &:hover{
          background:$yellow;
          color:$gray;
          border-color: $yellow;
          .fa{
            color:rgba($gray,1);
          }
        }
      }
    }
    .fa{
      margin-right: 7px;
      // color:rgba($gray,0.6);
      transition:color 0.5s ease;

      @include media('<tablet') {
        position: absolute;
        top: 5px;
        left: 50%;
        transform:translateX(-50%);
        margin: 0;
      }
    }
    .fa-fighter-jet{
      transform:rotate(-45deg);
      @include media('<tablet') {
        top: 1px;
        transform:rotate(-45deg) translateX(-50%);
      }
    }
  }
  .tab-content{
    background:rgba($black,0.2);
    color:$white;
    padding: 15px 30px;
    @include media('<tablet') {
      padding: 15px 10px;
    }
  }
  .title{
    display: block;
    text-transform: capitalize;
    margin-bottom: 10px;
  }
}

.sub-tab-block{
  .nav-tabs{
    display:inline-block;
    vertical-align:top;
    border:none;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 15px;
    >li{
      margin-bottom: 0;
      &.active{
        >a,>a:hover,>a:focus{
          border-color: $yellow;
          background:$white;
          color:$gray;
          border-style: solid;
          border-width: 0 0 5px;
        }
      }
      &+li{
        margin-left: 0;
        &:before{
          content:"";
          width: 1px;
          position: absolute;
          top: 8px;
          left: 0;
          bottom: 10px;
          background:rgba($gray3,0.5);
          z-index: 1;
        }
      }
      >a{
        background:$white;
        border-width:0 0 5px 0;
        border-style: solid;
        border-color: $white;
        color:$gray;
        border-radius: 0;
        text-transform: capitalize;
        width: 120px;
        text-align: center;
        padding: 10px 10px 8px;
        transition:background 0.5s ease, color 0.5s ease, border-color 0.5s ease;
        &:hover{
          background:$white;
          border-color: $yellow;
        }
      }
    }
  }
  .tab-content{
    padding: 0;
    background: transparent;
  }
}

.flight-form{
  input[type="radio"],
  input[type="checkbox"]{
    margin: 0;
  }
  .trip-wrap{
    .form-group{
      float: left;
      &+.form-group{
        margin-left: 15px;
      }
    }
    label {
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      text-transform: capitalize;
      position: relative;
      padding-left: 25px;
      margin-right: 15px;
      font-size: 13px;
      &:before {
        content: "";
        width: 16px;
        height: 16px;
        margin-right: 10px;
        position: absolute;
        left: 0;
        bottom: 1px;
        border-radius: 8px;
        background:$white;
        // box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
      }
    }
    input[type=radio] {
      display: none;
      &:checked{
        & + label:before{
          content: "\2022";
          color: $yellow;
          font-size: 28px;
          text-align: center;
          line-height: 15px;
          background-color: transparent;
          border:1px solid $white;
          letter-spacing: -0.8px;
          @include media('<tablet') {
            letter-spacing: 0;
          }
        }
      }
    }
  }
  .row{
    margin: 0 -10px;
    @include media('<tablet') {
      margin: 0 -5px;
    }
  }
  .col{
    padding: 0 10px;
    @include media('<tablet') {
      padding: 0 5px;
    }
  }
  .form-control{
    //color:$gray;
    height: 30px;
    padding: 5px 10px;
    box-shadow:inset 0 6px 9px -10px rgba($gray,0.7),0 -1px 3px -3px rgba($gray, 0.7) inset,1px 0 3px -3px rgba($gray, 0.7) inset,
    -1px 0 3px -3px rgba($gray, 0.7) inset;
    border-radius: 3px;
    border:none;
    // @include placeholder() {
    //   color:$gray;
    // }
  }
  label{
    text-transform: capitalize;
    position: relative;
    span{
      color:#f00;
      position: absolute;
      top: 3px;
      right: -9px;
      font-size: 14px;
      line-height: 1;
    }
  }
  .btn{
    display: block;
    text-transform: uppercase;
    width: 100%;
  }
}

.offer-block{
  background: $gray3;
  padding: 40px 0 60px;
  @include media('<tablet') {
    padding: 25px 0;
  }
  .head-block{
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    margin: 0 0 40px;
    overflow: hidden;
    @include media('<tablet') {
      margin-bottom: 25px;
    }
    &:before,
    &:after{
      content:"";
      position: absolute;
      top: 40%;
      left: 0;
      right: 0;
      border:1px dashed #ccc;
      z-index: -1;
    }
    &:after{
      left: -3px;
      top: 48%;
    }
  }
  h1{
    color:$white;
    background:$gray3;
    display:inline-block;
    vertical-align:top;
    margin: 0;
    padding: 0 15px;
    @include media('<tablet') {
      font-size: 28px;
      line-height: 32px;
    }
    span{
      color:$yellow;
    }
  }
}

.offer-slider{
  .container{
    position: relative;
  }
  .item{
    margin-right: 30px;
  }
  .slick-list{
    margin-right: -30px;
    &:before{
      content:"";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 30px;
      z-index: 1;
      background: $gray3;
    }
  }
  .slick-prev,
  .slick-next{
    position: absolute;
    top: 50%;
    left: -40px;
    width: 28px;
    height: 28px;
    border:2px solid $white;
    border-radius: 50%;
    margin: -14px 0 0;
    font-size: 0;
    background:none;
    transition:border-color 0.5s ease;
    @include media('<tablet') {
      display: none !important;
    }
    &:before{
      content:"";
      position: absolute;
      top: 9px;
      left: 8px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 3px 6px 3px 0;
      border-color: transparent $white transparent transparent;
      transition:border-color 0.5s ease;
    }

    &:hover{
      border-color: $yellow;
      &:before{
        border-color: transparent $yellow transparent transparent;
      }
    }
  }
  .slick-next{
    left: auto;
    right: -40px;
    &:before{
      left: auto;
      right: 8px;
      border-width: 3px 0 3px 6px;
      border-color: transparent transparent transparent $white;
    }

    &:hover{
      &:before{
        border-color: transparent transparent transparent $yellow;
      }
    }
  }
}

.item{
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  h3{
    margin: 0 0 10px;
    text-transform: uppercase;
    color:$yellow;
  }
  .text{
    padding: 10px 20px;
    background: $white;
    color:$gray;
  }
  .txt{display: none;}
  .country{
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .item{
    background: $white;
    color:$gray;
    border-radius: 5px;
    overflow: hidden;
  }
  .img-wrap{
    position: relative;
    img{
      max-width: none;
      width: 100%;
    }
    .like{
      position: absolute;
      top: 50%;
      left: 50%;
      width: 82px;
      height: 82px;
      background:rgba($white,0.8);
      margin: -41px 0 0 -41px;
      border-radius: 50%;
      opacity: 0;
      visibility: hidden;
      transition:opacity 0.5s ease, visibility 0.5s ease;
      &:before{
        content:"\f004";
        position: absolute;
        top: 50%;
        left: 50%;
        font: 32px/1 'FontAwesome';
        color:$yellow;
        margin: -15px 0 0 -16px;
      }
    }
    a{
      &:hover{
        .like{
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  .price{
    background: $yellow;
    padding: 8px 70px 8px 10px;
    position: relative;
    text-align: center;
    .rate{
      font-size: 30px;
      line-height: 32px;
      color:$white;
    }
    a{
      background:darken($yellow,10%);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 70px;
      font-size: 0;
      transition:background 0.5s ease;
      &:before{
        content:"";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 15px;
        height: 15px;
        border-style: solid;
        border-color: $white;
        border-width: 2px 2px 0 0;
        transform: rotate(45deg);
        margin: -8px 0 0 -8px;
      }

      &:hover{
        background:$yellow;
      }
    }
  }
}

.media-block{
  padding: 60px 0;
  background: $gray3;
  @include media('<tablet') {
    padding: 25px 0;
  }
  .video-wrap{
    iframe{
      width: 100%;
      height: 302px;
    }
  }
}

.deal-block{
  @include media('<tablet') {
    margin-bottom: 50px;
  }
  h3{
    background: $yellow;
    padding: 15px;
    margin: 0;
    text-transform: uppercase;
  }
}

.deal-slider{
  .item{
    border-radius: 0;
    background:$white;
    &:nth-child(even){
      background:#f0f0f0;
    }
    &:after{
      @extend %clearfix;
    }
  }
  .img-hold{
    float: left;
    width: 56px;
    height: 59px;
  }
  .text-block{
    overflow: hidden;
    padding: 7px 10px;
    color:$gray;
  }
  .title-wrap{
    text-align: left;
    float: left;
    width: 60%;
    strong{
      display: block;
    }
  }
  .price-wrap{
    float: right;
    width: 40%;
    .price{
      background:none;
      color:$yellow;
      font-size: 20px;
      line-height: 23px;
      padding: 0;
      display: block;
    }
  }
  .slick-prev,
  .slick-next{
    position: absolute;
    bottom: -45px;
    right: 0;
    width: 60px;
    height: 45px;
    background:$yellow;
    border:none;
    font-size: 0;
    transition: background 0.4s ease;
    @include media('<tablet') {
      width: 40px;
      height: 35px;
      bottom: -35px;
    }
    &:hover{
      background:darken($yellow, 10%);
    }
    &:before{
      content:"";
      position: absolute;
      top: 4px;
      left: 19px;
      width: 22px;
      height: 22px;
      border-style: solid;
      border-width:1px 1px 0 0;
      border-color: $white;
      transform:rotate(135deg);
      @include media('<tablet') {
        width: 16px;
        height: 16px;
        left: 13px;
      }
    }
  }

  .slick-prev{
    right: 61px;
    @include media('<tablet') {
      right: 41px;
    }
    &:before{
      top: 18px;
      transform:rotate(-45deg);
      @include media('<tablet') {
        top: 14px;
      }
    }
  }
}

.tour-slider{
  @include media('<tablet') {
    max-width: 290px;
    margin: 0 auto; 
  }
  .title-block{
    background:$yellow;
    padding: 12px 40px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    position: relative;

    p{
      margin: 0;
    }
  }
  .item{
    border-radius: 0;
  }
  .slick-list{
    border-radius: 5px;
    z-index: 1;
    &:before,
    &:after{
      content:"";
      position: absolute;
      left: 0;
      bottom:0;
      background:$yellow;
      z-index: 1;
      width: 40px;
      height: 44px;
    }
    &:after{
      left: auto;
      right: 0;
    }
  }
  .slick-next,
  .slick-prev{
    font-size: 0;
    position: absolute;
    bottom: 4%;
    left: 12px;
    width: 18px;
    height: 18px;
    background:rgba(0,0,0,0.5);
    transition:background 0.5s ease;
    border:none;
    z-index: 2;
    -webkit-appearnce:none;

    @include media('<tablet') {
      bottom: 3.3%;
    }

    &:before{
      content:"";
      position: absolute;
      top: 6px;
      left: 7px;
      width: 5px;
      height: 5px;
      border-style: solid;
      border-width: 1px 1px 0 0;
      border-color:$white;
      transform: rotate(-135deg);
      transition:border-color 0.5s ease;
    }

    &:hover{
      background:$white;
      &:before{
        border-color: $yellow;
      }
    }
  }

  .slick-next{
    left: auto;
    right: 12px;
    &:before{
      left: 6px;
      transform: rotate(45deg);
    }
  }
}

.testimonial-block{
  padding: 60px 0;
  // margin: 0 0 60px;
  @include media('<tablet') {
    padding: 25px 0;
  }
  .quote{
    max-width: 50px;
    margin: 0 auto;
    display: block;
    font-size:80px;
    line-height: 1;
    text-align: center;
  }
}

.testimonial-slider{
  max-width: 770px;
  margin: 0 auto;
  .item{
    text-align: center;
    p{
      margin-bottom: 20px;
    }
  }
  .personal-block{
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    .name,
    .post{
      font-size: 18px;
      line-height: 20px;
      display: block;
      text-transform: capitalize;
      margin-bottom: 5px;
    }
    .post{
      font-size: 16px;
      line-height: 18px;
      color:#ccc;

    }
  }
  .img-wrap{
    width: 109px;
    height: 109px;
    border-radius: 50%;
    border:2px solid #eee;
    overflow: hidden;
    margin: 0 auto 15px;

    img{
      width: 100%;
      max-width: none;
      height: auto;
    }
  }
  .slick-prev,
  .slick-next{
    font-size: 0;
    position: absolute;
    top: -69px;
    left: 45%;
    width: 20px;
    height: 20px;
    border-width: 2px 2px 0 0;
    border-style: solid;
    border-color: $white;
    transform: rotate(-135deg);
    background:transparent;
    transition: border-color 0.4s ease;
    @include media('<tablet') {
      left: 40%;
    }

    &:hover{
      border-color: $yellow;
    }
  }
  .slick-next{
    transform: rotate(45deg);
    left: auto;
    right: 45%;
    @include media('<tablet') {
      left: auto;
      right: 40%;
    }
  }
}

.breadcrumb-block {
  background:$gray3;
}

.breadcrumb {
  margin: 0;
  background:none;
  border-radius: 0;
  li{
    +li{
      &:before{
        content:"";
        border-color: transparent transparent transparent #fff;
        border-width: 3px 0 3px 6px;
        border-style: solid;
        width: 0;
        height: 0;
        display:inline-block;
        vertical-align:middle;
        margin: 0 0 0 5px;
        padding-left: 3px;
      }
    }
  }
}

#sidebar{
  padding-right: 30px;
  color:$gray;
  @include media('<widescreen') {
    padding-right: 20px;
  }
  @include media('<tablet') {
    padding-right: 40px;
    margin-bottom: 25px;
  }
  a{
    color:$gray;
    &:focus{
      color:$gray;
    }
    &.tel{
      color:$yellow;
      display:inline-block;
      vertical-align:top;
      font-size: 24px;
      line-height: 26px;
      padding: 0 0 0 25px;
      position: relative;
      margin-bottom: 10px;
      @include media('<widescreen') {
        font-size: 20px;
        line-height: 22px;
        padding-left: 16px;
      }
      &:before{
        content:"\f095";
        position: absolute;
        top: 0;
        left: 0;
        font-family: 'FontAwesome';
        color:$yellow;
        transform: rotate(20deg);
      }
      &:focus{
        color:$yellow;
      }
    }
  }
  p{
    margin-bottom: 20px;
  }
  .list-block{
    background:$white;
    &+.list-block{
      padding-top: 5px;
    }
    &:first-child{
      border-radius: 4px 0 0 0;
      .title{
        border-radius: 4px 0 0 0;
      }
    }
    &:last-child{
      border-radius: 0 0 4px 4px;
      .title{
        border-radius: 0 0 0 4px;
      }
    }
    .title{
      font-weight: normal;
      background:$gray4;
      display: block;
      text-transform: uppercase;
      color:$gray;
      padding: 10px 15px;
      cursor: pointer;
      position: relative;
      &:before,
      &:after{
        content:"";
        position: absolute;
        top: 0;
        right: -41px;
      }

      &:before{
        background:$yellow;
        width: 41px;
        bottom: 0;
        border-radius: 0 3px 3px 0;
      }

      &:after{
        border-color: $white transparent transparent;
        border-width: 7px 5px 0;
        border-style: solid;
        width: 0;
        height: 0;
        top: 50%;
        right: -25px;
        margin: -4px 0 0;
      }
    }
  }
  .list-wrap{
    padding: 15px 18px;
    display: none;
    ul{
      margin: 0;
      padding: 0;
      list-style: none;
      li{
        margin-bottom: 10px;
      }
      a{
        color:$gray;
        text-transform: capitalize;
      }
    }
    .list-notify{
      color:$yellow;
      display:inline-block;
      vertical-align:top;
      margin-left: 15px;
    }
  }
  label {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    text-transform: capitalize;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;
    color:$gray;
    &:before {
      content: "";
      width: 16px;
      height: 16px;
      margin-right: 10px;
      position: absolute;
      left: 0;
      bottom: 1px;
      border-radius: 50%;
      border:2px solid $yellow;
    }
  }
  input[type=checkbox] {
    display: none;
    &:checked{
      & + label:before{
        border-color: $yellow;
        border-style: solid;
        border-width: 2px 2px 0 0;
        transform: rotate(135deg) skewX(-3deg);
        width: 18px;
        height: 10px;
        bottom: 7px;
        border-radius: 0;
      }
    }
  }
  .select-wrap{
    position: relative;
    z-index: 11;
    &:before,
    &:after{
      content:'';
      position: absolute;
      top: 50%;
      right: 10px;
      z-index: -1;
    }
    &:before{
      border-color: transparent transparent $yellow transparent;
      border-width: 0 5px 7px;
      border-style: solid;
      width: 0;
      height: 0;
      margin: -10px 0 0;
    }
    &:after{
      border-color: $yellow transparent transparent;
      border-width: 7px 5px 0;
      border-style: solid;
      width: 0;
      height: 0;
    }
  }
  select{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 36px;
    border-radius: 5px;
    border:1px solid #ececec;
    padding: 5px 30px 5px 10px;
    color:$gray;
    width: 100%;
    background: transparent;
    cursor: pointer;
    option{
      display: block;
      color:$gray;
      margin: 0 0 5px;
      &:hover{
        background: $yellow;
      }
    }
  }
  .hotel-form,
  .room-form{
    height: 140px;
  }
  .row{
    margin:0 -10px;
    @include media('<widescreen') {
      margin: 0 -5px;
    }
  }
  .col{
    padding: 0 10px;
    @include media('<widescreen') {
      padding: 0 5px;
    }
  }
  .form-control{
    @include media('<widescreen') {
      padding: 6px 5px;
      font-size: 12px;
      line-height: 14px;
    }
  }
  .clear-label{
    label{
      color:$gray;
      padding: 0 0 0 3px !important;
      margin: 0 !important;
      @include media('<desktop') {
        font-size: 12px !important;
      }
      span{
        color:#f00;
        position: absolute;
        top: 0;
        right: -7px;
      }
      &:before{
        display: none;
      }
    }
  }

  .label-price{
    input[type="checkbox"]:checked + label:before{
      bottom: 10px;
    }
    label{
      display: block;
      margin: 0;
      overflow: hidden;
      padding-top: 2px;
      @include media('<desktop') {
        padding-left: 22px;
      }
      &:before{
        bottom: 5px;
        @include media('<desktop') {
          bottom: 4px;
        }
      }
      .price{
        float: right;
        color:$yellow;
        font-size: 25px;
        font-weight: normal;
        line-height: 20px;

        @include media('<desktop') {
          font-size: 22px;
          line-height: 20px;
        }

        i{
          font-size:18px;
          line-height: 20px;
          font-style: normal;
        }
      }
    }
  }
}

.jcf-scrollable{
  width: 100% !important;
  // height:150px !important;
  // overflow: auto !important;
}


.jcf-scrollbar-vertical{
  width: 6px;
  top: 10px;
  bottom: 10px;
  background:transparent;
  .jcf-scrollbar-dec,
  .jcf-scrollbar-inc{
    display: none;
  }
}

.jcf-scrollbar-slider{
  background-color: #e3e3e3;
}


.jcf-scrollbar-vertical .jcf-scrollbar-handle{
  width: 6px;
  background:$yellow;
}

#sign-in{
  h1{
    margin: 0 0 20px;
    color:$gray;
  }
  .modal-dialog{
    width: 100%;
    padding: 0 15px;
    max-width: 355px;
    @include media('<tablet') {
      margin: 30px auto;
    }
  }
  .close{
    position: absolute;
    top: 5px;
    right: 10px;
    border:none;
    background: none;
    color:$gray;
    font-size: 26px;
    padding: 0;
    transition: color 0.4s ease;
    &:hover{
      color:$yellow;
    }
  }
  .modal-content{
    max-width: 325px;
    border-radius: 0;
    box-shadow: none;
    margin: 0 auto;
    border:3px solid $yellow;
    padding: 30px 15px;
    @include media('<tablet') {
      min-width: 290px;
    }
  }
  .btn-info{
    width: 230px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
    padding: 15px 10px;
    display: block;
    text-transform: uppercase;
  }
  .form-group{
    text-align: center;
  }
  label {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    text-transform: capitalize;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;
    color:$gray;
    &:before {
      content: "";
      width: 16px;
      height: 16px;
      margin-right: 10px;
      position: absolute;
      left: 0;
      bottom: 1px;
      border-radius: 50%;
      border:2px solid $yellow;
    }
  }
  input[type=checkbox] {
    display: none;
    &:checked{
      & + label:before{
        border-color: $yellow;
        border-style: solid;
        border-width: 2px 2px 0 0;
        transform: rotate(135deg) skewX(-3deg);
        width: 18px;
        height: 10px;
        bottom: 7px;
        border-radius: 0;
      }
    }
  }
}


