.detail-block{
  padding: 60px 0;
  @include media('<desktop') {
    padding: 25px 0;
  }
}

.detail-thumbs{
  margin-bottom: 60px;
  @include media('<tablet') {
    margin-bottom: 25px;
  }
  .slick-slide{
    padding: 0 15px;
    @include media('<desktop') {
      padding: 0 10px;
    }
    &.slick-current{
      .img{
        cursor: default;
        &:before{
          opacity: 0;
        }
      }
    }
  }

  .img{
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    &:before{
      content:"";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background:$black;
      opacity: .5;
      transition:opacity 0.4s ease;
    }

    &:hover{
      &:before{
        opacity: 0;
      }
    }

    img{
      max-width: none;
      width: 100%;
    }
  }

  .slick-list{
    background:$white;
    padding: 20px 60px;
    @include media('<desktop') {
      padding: 15px 40px;
    }
  }

  .slick-prev,
  .slick-next{
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    bottom: 0;
    background:$yellow;
    border:none;
    z-index: 1;
    transition: background 0.4s ease;
    font-size: 0;
    @include media('<desktop') {
      width: 40px;
    }
    &:hover{
      background:darken($yellow, 10%);
    }

    &:before{
      content:"";
      position: absolute;
      top: 50%;
      left: 24px;
      border-width: 1px 1px 0 0;
      border-style: solid;
      border-color: $white;
      width: 20px;
      height: 20px;
      transform: rotate(-135deg);
      margin-top: -10px;
      @include media('<desktop') {
        left: 16px;
      }
    }
  }

  .slick-next{
    left: auto;
    right: 0;
    &:before{
      transform: rotate(45deg);
      left: 14px;
      @include media('<desktop') {
        left: 5px;
      }
    }
  }
}

.detail-description-tab{
  .nav-tabs{
    border:none;
    li{
      margin: 0;
      &+li{
        margin-left: 10px;
        @include media('<tablet') {
          margin-left: 2px;
        }
      }
      &.active{
        a{
          border: none;
          background:$white;
          margin: 0;
          &:hover{
            border-bottom: none;
          }
        }
        .fa{
          opacity: 1;
        }
      }
      a{
        background:$yellow;
        border:none;
        border-radius: 3px 3px 0 0;
        transition: background 0.4s ease, color 0.4s ease;
        text-transform: capitalize;
        margin: 0;
        @include media('<tablet') {
          font-size: 12px;
          padding: 20px 9px 5px;
        }
        &:hover{
          background:$white;
          color:$gray;

          .fa{
            opacity: 1;
          }
        }
      }
      .fa{
        color:$gray;
        opacity: 0.5;
        margin: 0 5px 0 0;
        transition: opacity 0.4s ease;
        @include media('<tablet') {
          position: absolute;
          top: 5px;
          left: 50%;
          transform:translateX(-50%);
        }
      }
    }
  }
  .tab-content{
    background: $white;
    color:$gray;
    padding: 30px;
    @include media('<tablet') {
      padding: 15px;
    }
    a{
      color:$gray;
      &:focus{
        color:$gray;
      }
    }
    strong{
      text-transform: capitalize;
      display: block;
      margin: 0 0 -15px;
      @include media('<tablet') {
        margin-bottom: -5px;
      }
    }
    p{
      margin-bottom: 30px;
      @include media('<tablet') {
        margin-bottom: 15px;
      }
    }
    >div{
      >ul{
        @extend %listreset;
        @extend %clearfix;
        padding: 0 0 15px 15px;
        @include media('<desktop') {
          letter-spacing: -4px;
        }
        @include media('<tablet') {
          padding-left: 10px;
        }
        li{
          float: left;
          width: 25%;
          padding: 0 10px 15px 25px;
          position: relative;
          @include media('<desktop') {
            float: none;
            display:inline-block;
            vertical-align:top;
            width: 33.33%;
            letter-spacing: 0;
            padding-left: 20px;
          }
          @include media('<tablet') {
            width: 50%;
            padding-left: 15px;
          }
          &:before{
            content:"";
            position: absolute;
            top: 6px;
            left: 3px;
            width: 0;
            height: 0;
            border-color: transparent transparent transparent $gray;
            border-width: 4px 0 4px 5px;
            border-style: solid;
          }
        }
      }
    }
    
  }
}

.rating-block{
  float: left;
  width: 45%;
  @include media('<widescreen') {
    width: 50%;
  }
  @include media('<desktop') {
    width: 100%;
    margin-bottom: 25px;
  }
  h3{
    margin: 0 0 15px;
    color:$gray;
    text-transform: capitalize;
    @include media('<desktop') {
      text-align: center;
      margin: 0;
    }
  }
  .rating{
    margin-bottom: 20px;
    @include media('<desktop') {
      max-width: 340px;
      margin: 0 auto 15px;
    }
    @include media('<tablet') {
      max-width: 300px;
      margin-bottom: 10px;
    }
    >ul{
      @extend %listreset;
      > li{
        padding: 15px 0;
        & + li{
          border-top: 1px dashed #ccc;
        }
      }
    }
    .rate-name{
      display:inline-block;
      vertical-align:middle;
      width: 135px;
      text-transform: capitalize;
      @include media('<tablet') {
        width: 115px;
      }
    }
    .star-rate{
      @extend %listreset;
      display:inline-block;
      vertical-align:middle;
      li{
        display:inline-block;
        vertical-align:top;
        &+li{
          margin-left: 30px;
          @include media('<widescreen') {
            margin-left: 25px;
          }
          @include media('<tablet') {
            margin-left: 13px;
          }
        }
        &.rated{
          a{
            color:$yellow;
          }
        }
        a{
          color: #ccc;
          &:hover{
            text-decoration: none;
          }
        }
      }
    }
  }

  .review-result {
    display:inline-block;
    vertical-align:middle;
    font-size: 44px;
    line-height: 48px;
    color:$yellow;
    margin-right: 15px;
    @include media('<desktop') {
      display: block;
      text-align: center;
    }
    i{
      font-style: normal;
    }
  }

  .review-text{
    font-size: 16px;
    @include media('<widescreen') {
      font-size: 14px;
    }
    @include media('<desktop') {
      display: block;
      text-align: center;
    }
  }
}


.comments-block{
  float: right;
  width: 45%;
  @include media('<desktop') {
    width: 100%;
  }
  h3{
    background: $yellow;
    text-transform: uppercase;
    padding: 15px;
    margin: 0;
    color:$white;
  }
}

.comments-slider{
  padding-bottom: 45px;
  .slide{
    @extend %clearfix;
    background:#f8f2f2;

    &:nth-child(even){
      background: #f0f0f0;
    }
  }
  .img-wrap{
    float: left;
    width: 69px;
    height: 56px;
    img{
      max-width: none;
      width: 100%;
    }
  }
  .heading{
    margin-bottom: 5px;
  }
  .text{
    overflow: hidden;
    padding: 15px 10px;
    p{
      margin: 0;
    }
  }
  .name{
    text-transform: uppercase;
    color:$yellow;
    margin-right: 5px;
    display:inline-block;
    vertical-align:bottom;
    a{
      color:$yellow;
      &:focus{
        color:$yellow;
      }
    }
  }
  time{
    font-style: italic;
    font-size: 12px;
    line-height: 16px;
    display:inline-block;
    vertical-align:bottom;
  }

  .slick-list{
    width: 100%;
    min-height: 485px
  }

  .slick-prev,
  .slick-next{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60px;
    height: 45px;
    background:$yellow;
    border:none;
    font-size: 0;
    transition: background 0.4s ease;
    @include media('<tablet') {
      width: 40px;
      height: 35px;
    }
    &:hover{
      background:darken($yellow, 10%);
    }
    &:before{
      content:"";
      position: absolute;
      top: 4px;
      left: 19px;
      width: 22px;
      height: 22px;
      border-style: solid;
      border-width:1px 1px 0 0;
      border-color: $white;
      transform:rotate(135deg);
      @include media('<tablet') {
        width: 16px;
        height: 16px;
        left: 13px;
      }
    }
  }

  .slick-prev{
    right: 61px;
    @include media('<tablet') {
      right: 41px;
    }
    &:before{
      top: 18px;
      transform:rotate(-45deg);
      @include media('<tablet') {
        top: 14px;
      }
    }
  }
}

.hotel-description{
  background: $white;
  color:$gray;
  text-align: left;
  padding: 15px;
  border-radius: 4px 4px 0 0;
  .title{
    display: block;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 22px;
    font-weight: normal;
  }
  .country{
    display: block;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
}

.hotel-check-form{
  .form-control{
    padding: 6px 8px;
  }
  .check-block,
  .check-group{
    position: relative;
    padding: 15px 0 0;
    border-top:1px dashed #ccc;
    &:before,
    &:after{
      content:"";
      position: absolute;
      top: -1px;
      left: 0;
      height: 1px;
      background: $white;
      width: 10px;
    }

    &:after{
      left: auto;
      right: 0;
    }
  }
  .room-book{
    padding-top: 15px;
    border-top: 1px dashed #ccc;
  }
  .booking-block{
    padding-top: 20px;
    border-top: 1px dashed #ccc;
    margin-bottom: 20px;
  }
  .total-book{
    text-transform: capitalize;
    @include media('<desktop') {
      display:inline-block;
      vertical-align:middle;
      padding-top: 5px;
    }
  }
  .total-price{
    float: right;
    font-size: 38px;
    line-height: 15px;
    color:$yellow;
    @include media('<desktop') {
      font-size: 28px;
      line-height: 30px;
    }
    i{
      font-style: normal;
      font-size: 26px;
      line-height: 28px;
      @include media('<desktop') {
        font-style: 16px;
        line-height: 18px;
      }
    }
  }
  .btn-info{
    border:none;
    width: 100%;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 15px 10px;
    margin-bottom: 10px;
  }
}

.hot-deal-block{
  height: 230px;
  .deal-item{
    margin-bottom: 10px;
    &:last-child{
      margin: 0;
    }
  }
  .img-wrap{
    float: left;
    width: 55px;
    height: 50px;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 10px 0 0;
  }
  .name{
    text-transform: uppercase;
    color:$yellow;
    display: block;
    padding: 5px 10px;
  }
}
