.flight-block{
  padding: 60px 0;
  @include media('<tablet') {
    padding: 25px 0;
  }
  .item{
    margin-bottom: 40px;
    @include media('<tablet') {
      margin-bottom: 25px;
    }
    h2{
      font-size: 24px;
      line-height: 26px;
    }
  } 
}

.filter-heading {
  margin-bottom: 30px;
  @include media('<tablet') {
    margin-bottom: 15px;
  }
  .filter-block{
    float: left;
    width: 75%;
    @include media('<tablet') {
      float: none;
      width: 100%;  
      position: relative;
    }
    ul{
      @extend %listreset;
      display:inline-block;
      vertical-align:top;
      @include media('<tablet') {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background:$gray2;
        z-index: 99;
        padding: 15px 15px 0;
      }
      li{
        display:inline-block;
        vertical-align:top;
        position: relative;
        @include media('<tablet') {
          width: 100%;
          display: block;
          margin: 0 0 15px;
        }
        &+li{
          margin-left: 34px;
          @include media('<desktop') {
            margin-left: 28px;
          }
          @include media('<tablet') {
            margin-left: 0;
          }
          &:before{
            content:"";
            position: absolute;
            top: 3px;
            left: -17px;
            bottom: 3px;
            width: 1px;
            background:#a2a2a2;
            @include media('<tablet') {
              display: none;
            }
          }
        }
        a{
          display: block;
          text-transform: capitalize;
          color:#a2a2a2;
          &:after{
            content:"";
            display:inline-block;
            vertical-align:middle;
            border-color: #a2a2a2 transparent transparent;
            border-style: solid;
            border-width: 7px 5px 0;
            width: 0;
            height: 0;
            margin-left: 18px;
            @include media('<desktop') {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
  .shot{
    display:inline-block;
    vertical-align:top;
    text-transform: uppercase;
    margin-right: 15px;
    @include media('<desktop') {
      display: block;
      margin: 0 0 5px;
    }
  }
  .selected{
    display: none;
    @include media('<tablet') {
      display: block;
      cursor: pointer;
      text-transform: capitalize;
      position: relative;
      background:$white;
      color:$gray;
      padding: 5px 35px 5px 15px;
      border-radius: 3px;
    }

    &:before{
      @include media('<tablet') {
        content:"";
        position: absolute;
        top: 50%;
        right: 10px;
        border-width: 1px 1px 0 0;
        border-style: solid;
        border-color:$gray;
        transform: rotate(135deg);
        width: 12px;
        height: 12px;
        margin-top: -10px;
      }
    }
  }
  .grid-list{
    @extend %listreset;
    float: right;
    border-radius:7px;
    overflow: hidden;
    width: 85px;
    @include media('<tablet') {
      display: none;
    }
    &:after{
      @extend %clearfix;
    }
    li{
      float: left;
      &:hover,
      &.active{
        a{
          color:rgba($white,1);
          background:$yellow;
        }
      }
    }
    a{
      display: block;
      background:darken($yellow,10%);
      padding: 8px 12px;
      font-size: 0;
      color:rgba($white,0.5);
      transition: background 0.5s ease, color 0.5s ease;
      .fa{
        font-size: 18px;
      }
    }
  }
}

.list-grid{
  &.list{
    .col{
      width: 100%;
    }
    .item{
      background:$white;
      text-align: left;
      display: table;
      &:after{
        @extend %clearfix;
      }
    }

    .img-wrap{
      display: table-cell;
      vertical-align: top;
      width: 25%;
    }
    .text{
      display: table-cell;
      vertical-align: top;
      width: 60%;
    }
    .txt{display: block;}
    .price{
      display: table-cell;
      vertical-align: top;
      // width: 15%;
      padding: 0 0 50px;
      white-space: nowrap;
      min-height: 86px;
      &:after{
        content:"";
        display:inline-block;
        vertical-align:middle;
        min-height: 86px;
      }
      .rate{
        padding: 15px;
        text-align: center;
        display:inline-block;
        vertical-align:middle;
        white-space: normal;
      }
      a{
        top: auto;
        right: 0;
        width: 100%;
        display: block;
        height: 52px;
      }
    }
  }
  .col{
    &:last-child{
      .item{
        @include media('<tablet') {
          margin-bottom: 0;
        }
      }
    }
  }
}


