.footer-top{
	background: $gray3;
	padding: 40px 0 30px;
	@include media('<tablet') {
		text-align: center;
		padding: 25px 0;
	}
	.title{
		display: block;
		margin: 0 0 15px;
		text-transform: capitalize;
		color:$white;
		@include media('<tablet') {
			margin-bottom: 10px;
		}
	}
	ul{
		margin: 0;
		padding: 0;
		list-style:none;
		li{
			&+li{
				a{
					border-top:1px solid #262626;
				}
			}
			&:last-child{
				a{
					border-bottom: none;
				}
			}
			a{
				display: block;
				border-bottom:1px solid #393939;
				padding: 5px 0;
				color:#ccc;
				text-transform: capitalize;
				&:hover{
					// text-decoration: none;
				}
			}
		}
	}
	.customer-support{
		border-bottom:1px solid #393939;
		box-shadow: 0 1px 0 #262626;
		margin: 0 0 20px;
		padding: 0 0 20px;
	}
	.tel{
		font-size: 38px;
		line-height: 38px;
		color:$yellow;
		display:inline-block;
		vertical-align:top;
		margin: 0 0 5px;
		@include media('<widescreen') {
			font-size: 32px;
			line-height: 34px;
		}
		@include media('<desktop') {
			font-size: 23px;
			line-height: 25px;
		}
	}
	.support{
		display: block;
		text-align: right;
		color:#ccc;
		font-size: 12px;
		line-height: 14px;
	}
	.newsletter-form{
		overflow: hidden;
		input[type="submit"]{
			float: right;
			background:$yellow;
			color:$white;
			height: 38px;
			padding: 10px 15px;
			border: none;
			text-transform: uppercase;
			transition:background 0.5s ease, color 0.5s ease;
			&:hover{
				background:darken($yellow,10%);
			}
		}
		.form-group{
			overflow: hidden;
			@include media('<tablet') {
				margin: 0;
			}
		}
		.form-control{
			border:1px solid $yellow;
			height: 38px;
			background:#272727;
			border-radius: 0;
			box-shadow: none;
			color:#ccc;
			@include placeholder() {
				color:#ccc;
			}
		}
	}
	.comp-info{
		@include media('<tablet') {
			padding: 25px 0;
		}
	}
	.customer-care{
		@include media('<tablet') {
			margin-bottom: 25px;
		}
	}
}

.footer-logo{
	margin: 0 0 15px;
	max-width: 150px;
	@include media('<tablet') {
		margin: 0 auto 15px;
	}
}

.copyright{
	color:#ccc;
	@include media('<tablet') {
		text-align: center;
	}
	a{
		color:$yellow;
		&:hover{
			color:darken($yellow,10%);
		}
	}
}

.footer-bottom{
	background: #272727;
	padding: 25px 0;

	@include media('<desktop') {
		padding: 25px 0 15px;
	}

	.back-to-top{
		display: none;
		width: 32px;
		height: 30px;
		background: $yellow;
		// position: relative;
		font-size: 0;
		border-radius: 5px;
		margin: 0 auto;
		transition: background 0.5s ease;
		position: fixed;
		bottom: 20px;
		right: 20px;
		z-index: 99;
		&:before{
			content:"";
			position: absolute;
			top: 50%;
			left: 50%;
			border-style: solid;
			border-width: 2px 2px 0 0;
			transform:rotate(-45deg);
			color:$white;
			width: 12px;
			height: 12px;
			margin: -4px 0 0 -6px;
		}
		&:hover{
			background:darken($yellow,10%);
		}
	}
}

.footer-nav{
	// margin: 0 0 10px;
	margin: 0;
	padding: 10px 0 0;
	list-style: none;
	letter-spacing: -4px;
	text-align: center;
	@include media('<tablet') {
		padding: 10px 0 5px;
	}
	li{
		display:inline-block;
		vertical-align:top;
		letter-spacing: 0;
		padding: 0 15px;
		@include media('<widescreen') {
			padding: 0 12px;
		}
		&+li{
			border-left: 1px solid $white;
		}
		a{
			display: block;
			line-height: 0.7em;
			text-transform: capitalize;
			color:#ccc;
		}
	}
}

.partners-logo{
	@extend %listreset;
	@extend %clearfix;
	li{
		float: left;
		width: 20%;
		padding: 0 5px;
		@include media('<desktop') {
			width: 33.33%;
			padding: 0 5px 5px;
		}
		@include media('<tablet') {
			width: 20%;
		}
		a{
			display: block;
			&:hover{
				opacity: .7;
			}
		}
	}
}

.support-block{
	@include media('<tablet') {
		text-align: center;
	}
}