body{
  &.nav-active{
    overflow: hidden;

    .overlay{
      position: fixed;
      top: 0;
      right: 250px;
      bottom: 0;
      left: 0;
      background: transparent;
      z-index: 9999;
      overflow: hidden;
      cursor: pointer;
    }

  }
}

.no-js{
  #loader-wrapper{
    display: none;
  }
}

#loader-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:#000;
  z-index: 999;
}

#loader {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
  animation: spin 2s linear infinite;
  z-index: 1001;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    animation: spin 3s linear infinite;
  }

  &:after {
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-top-color: #f9c922;
    animation: spin 1.5s linear infinite;
  }
}

.loaded {
  #loader {
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }
  #loader-wrapper {
    visibility: hidden;
    transition: visibility 0.3s ease-out;
  }
}


@keyframes spin {
  0% { 
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


#header{
  background:darken($yellow,5%);
  position: relative;
  z-index: 20;
  .container{
    &:after{
      content:"";
      display: block;
      clear: both;
    }
  }

  .top-nav{
    float: right;
    width: 68%;
    padding: 34px 0 30px;
    @include media('<tablet') {
      display: none;
    }
    ul{
      margin: 0;
      padding: 0;
      list-style: none;
      letter-spacing: -4px;
      text-align: center;
    }
    li{
      display:inline-block;
      vertical-align:top;
      letter-spacing: 0;
      padding: 0 15px;
      &+li{
        border-left: 1px solid $white;
      }
      a{
        display: block;
        line-height: 0.7em;
        text-transform: capitalize;
      }
    }
  }
}

.header-top{
  // background:$yellow;
  background:$gray3;
  border-bottom: 1px solid lighten($yellow, 10%);
  padding: 5px 0;
  .container{
    @include media('<tablet') {
      padding: 0;
    }
  }
  .row{
    @include media('<tablet') {
      display: table;
      table-layout: fixed;
      width: 100%;
      margin: 0;
    }
  }
  .social-mobile{
    @include media('<tablet') {
      float: none;
      display: table-header-group;
    }
  }
}

.header-middle{
  min-height: 130px;
  @include media('<tablet') {
    min-height: 85px;
  }
}

.language-form{
  padding-top: 4px;
  @include media('<tablet') {
    padding-top: 0;
    margin-bottom: 5px;
    text-align: center;
  }
  label{
    font-size: 12px;
    line-height: 14px;
    display:inline-block;
    vertical-align:middle;
    margin: 0 10px 0 0;
    font-weight: normal;
  }
  .select-wrap{
    position: relative;
    display:inline-block;
    vertical-align:middle;
    
    &:before{
      content:"";
      position: absolute;
      top: 50%;
      right: 5px;
      border-color: #fff transparent transparent;
      border-style: solid;
      border-width: 5px 4px 0;
      height: 0;
      width: 0;
      margin-top: -2px;
    }
  }
  select{
    background:none;
    border:none;
    width: 80px;
    color:$white;
    appearnace:none;
    -moz-appearance:none;
    -webkit-appearance: none;
    padding-right: 20px;
  }
}

.search-form{
  position: relative;
  padding: 0 0 0 15px;
  input[type="search"]{
    border:none;
    background:none;
    color:$white;
    margin: 0;
    width: 100%;
    max-width: 200px;
    padding: 5px 10px;
    @include placeholder() {
      color:$white;
    }
  }

  input[type="submit"]{
    font-size: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    z-index: 1;
    background: transparent;
  }

  .submit-wrap{
    position: absolute;
    top: 6px;
    left: 3px;
    &:before{
      content:"\f002";
      font-size: 15px;
      line-height: 1;
      font-family: 'FontAwesome';
      position: absolute;
      top: 0;
      left: 0;
      color:$white;
    }
  }
}

.network-wrap{
  @include media('<tablet') {
    padding: 0 15px 10px;
  }
  .sign-in{
    float: right;
    background:$yellow;
    padding: 5px 10px;
    border-radius: 0 0 4px 4px;
    margin: -5px 0 0 20px;
    text-decoration: none;
    transition:background 0.4s ease, color 0.4s ease;
    &:hover{
      background:$white;
      color:$yellow;
    }
  }
}

.social-networks{
  margin: 0;
  padding: 0 10px 0 0;
  list-style: none;
  text-align: right;
  li{
    display:inline-block;
    vertical-align:top;
    &+li{
      margin-left: 6px;
    }
    a{
      display: block;
      font-size: 0;
      border:1px solid $white;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      text-align: center;
      padding: 7px 0;
      &:hover{
        opacity: .7;
      }
      i{
        font-size: 14px;
        line-height: 1;
      }
    }
  }
}

.logo{
  float: left;
  width: 30%;
  // max-width: 138px;
  max-width: 150px;
  margin-top: -15px;
  @include media('<desktop') {
    margin-top: 6px;
  }
  @include media('<tablet') {
    max-width: 87px;
  }
}

#nav {
  background:$gray2;
  border-top: 1px solid #303030;

  @include media('<desktop') {
    background:none;
    border:none;
    position: absolute;
    top: 0;
    right: 0;
  }

  // .mbl-top-nav{
  //   @extend %listreset;
  //   display: none;

  //   @include media('<tablet') {
  //     display: block;
  //   }

  //   li{
  //     text-align: center;
  //     margin-bottom: 5px;
  //     a{
  //       text-transform: capitalize;
  //     }
  //   }
  // }

  .opener{
    display: none;
    position: absolute;
    top: 130px;
    right: 0;
    width:34px;
    height:20px;
    text-indent:-9999px;
    overflow:hidden;
    margin-right: 15px;
    @include media('<desktop') {
      display: block;
    }
    @include media('<tablet') {
      top: 133px;
    }
    &:before,
    &:after,
    & span{
      background:#fff;
      position:absolute;
      top:11px;
      left:0;
      right:0;
      height:3px;
      margin-top:-2px; /* height/2 */
      transition:all 0.2s linear;
    }
    &:before,
    &:after{
      content:'';
      top:3px;
    }
    &:after{top:19px;}

    &:hover{
      opacity: .7;
    }
  }

  .opener-close{
    bottom: auto;
    top: 10px;
    span{
      opacity: 0;
    }

    &:after,
    &:before{
      transform:rotate(45deg);
      top:10px;
      left:15%;
      right:15%;
    }

    &:after{
      transform:rotate(-45deg);
    }
  }

  &.active{
    .opener{
      display: none;
      top: 10px;
      &.opener-close{
        display: block;
      }
    }
    .drop{
      // max-height:4000px;
      right: 0;

      .drop-wrap{
        // transform:translateX(0);
      }
    }
  }

  .drop{
    display:inline-block;
    vertical-align:top;

    @include media('<desktop') {
      display: block;
      // overflow:hidden;
      position:fixed;
      top:0;
      z-index:999;
      transition:right 0.25s linear;
      width: 300px;
      right:-300px;
      bottom: 0;
      background: rgba(0,0,0,0.9);
      overflow: auto;
    }

    @include media('<tablet') {
      width: 250px;
      right:-250px;
    }
    .drop-wrap{
      @include media('<desktop') {
        padding: 40px 15px 10px;
      }
    }
    .main-nav{
      @extend %listreset;
      letter-spacing: -4px;
      text-align: center;

      li{
        display:inline-block;
        vertical-align:top;
        letter-spacing: 0;
        border-right:1px solid #303030;

        @include media('<desktop') {
          border: none;
          display: block;
          margin-bottom: 10px;
        }

        &.current-menu-item{
          a{
            &:before{
              background:$yellow;
            }
          }
        }

        &:last-child{
          border-right: none;
        }

        &+li{
          border-left:1px solid $black;
          @include media('<desktop') {
            border: none;
          }
        }
        a{
          display: block;
          text-transform: uppercase;
          padding: 7px 24px;
          position: relative;
          @include media('<widescreen') {
            padding: 7px 17px;
          }
          &:before{
            content:"";
            position: absolute;
            bottom: -2px;
            left: 0;
            right: 0;
            background: transparent;
            height: 2px;
            z-index: 2;
          }
          &:hover{
            text-decoration: none;
            &:before{
              background:$yellow;
            }
          }
        }
      }
    }
  }
}



